<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Alianzas</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Alianzas</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                        <i class="ti-settings text-white"></i>
                    </button>
                    </div>
                </div>

                <!-- DECISIONWARE -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="https://pe.linkedin.com/company/decisionware" target="_blank">
                                    <img class="img-fluid rounded" src="./assets/images/DECISIONWARE.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-9">
                                <h2 class="card-title titulo">DECISIONWARE</h2>
                                <p class="card-text">DECISIONWARE, empresa colombiana con mas de 40 años brindando soluciones de optimización a través de Modelos Matemáticos, en el 2017 firmo convenio con <strong class="cdsi">CDSI</strong> para brindar soluciones hechos a
                                    la medida y que complementan a los ERP para la Toma de Decisiones.</p>

                                <!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
                            </div>
                        </div>
                        <p class="card-text">Toda solución esta soportada bajo los criterios y las metodologías de la denominada Investigación de Operaciones (Programación Matemática, modelos estocásticos, inteligencia artificial) que al ser implementados en soluciones de
                            software, le permite tener a la empresa herramientas analíticas capaces de soportar toda la jerarquía de la toma de decisiones estratégicas, tácticas y operativas.</p>
                    </div>

                </div>

                <!-- DECISIONWARE -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="http://www.thalesonline.com/" target="_blank">
                                    <img class="img-fluid rounded" src="./assets/images/thales.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-9">
                                <h2 class="card-title titulo">THALES</h2>
                                <p class="card-text">En proyectos de consultorías de gran embergadura, <strong class="cdsi">CDSI</strong> Optimization, participa en consorcio con la firma francesa THALES Engineering & Consulting (www.thalesonline.com) que goza a nivel mundial
                                    de un excelente prestigio y solidez económica.</p>

                                <!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
                            </div>
                        </div>
                        <p class="card-text">A la fecha,<strong class="cdsi">CDSI</strong> Optimization participó en Consorcio con la firma Thales ( antes Sodeteg ) en las consultorías siguientes: </p>
                        <ul>
                            <li>MECEP - Ministerio de Educación , Lima - Perú.</li>
                            <li>Programa de fortalecimiento de la salud pública, Lima - Perú.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>