<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"><strong>ISANEG</strong></h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">isaneg</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <!-- FIN -->
                <!-- CUERPO -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-shopping-cart fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    COMPRAS
                                </h4>
                                <p class="card-text">Lleva un rígido control de todo el proceso de Compras de Bienes Materiales y Servicios que la empresa efectúa tanto a nivel local metropolitano y a nivel nacional si tiene sucursales o agencias administrativas.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-COMPRAS.pdf" download>
                                                    <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <!--
                                            <div class="col-md-6">
                                                <a href="assets/file/ISANEG-COMPRAS.pdf" download>
                                                    Descargar
                                                </a>
                                                <button id="btnCompras2" type="button" class="btn btn-success btn-block" title="Descargar el archivo">
                                                    <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                                </button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-plane fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    IMPORTACIONES
                                </h4>
                                <p class="card-text">Lleva un rígido control de todo el proceso de Importaciones de materia prima y otros productos que requiere la empresa.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-IMPORTACIONES.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnImportaciones1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button id="btnImportaciones2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-pencil-square-o fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    INVENTARIOS
                                </h4>
                                <p class="card-text">Optimiza el proceso de Control de Inventarios de artículos en todos los almacenes de la empresa sea a nivel central o descentralizados, organizado por catálogos, líneas, sub líneas, familia, etc.</p>

                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-INVENTARIOS.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnInventario1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnInventario2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-percent fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    PROMOCIÓN
                                </h4>
                                <p class="card-text">Permite registrar los Convenios, lleva un control de las visitas realizadas por el Promotor, facilita la emisión de informes para el planeamiento y control de la gestión editorial, permite emitir estadística de logro de
                                    objetivos entre la expectativa de venta vs lo venta real emitiendo indicadores de efectividad por Promotor y Sector. </p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-PROMOCION.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnPromocion1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnPromocion2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-cogs fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    PRODUCCIÓN
                                </h4>
                                <p class="card-text">Es un software adecuado para administrar editoriales e imprentas; puede aplicarse a otro giro de empresas haciendo pequeños desarrollos a medida. Permite Llevar el control de las fases, procesos y subproceso editoriales.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/PCPE-PRODUCCION.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnProduccion1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnProduccion2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-money fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    INCENTIVOS
                                </h4>
                                <p class="card-text">Lleva un control de las comisiones que ganan los promotores y vendedores en base a la venta realizada. Asimismo permite determinar el importe de los derechos de autor en base a los textos vendidos.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-INCENTIVOS.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnIncentivos1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnIncentivos2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-calculator fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    FACTURACIÓN
                                </h4>
                                <p class="card-text">Lleva un rígido control de todo el proceso de Ventas Mayorista desde la sede central o de sucursales de la empresa. Adecuado a la Facturación Electrónica de SUNAT.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-FACTURACION.pdf" download>
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <button id="btnFacturacion1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnFacturacion2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-credit-card fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    PUNTOS DE VENTA
                                </h4>
                                <p class="card-text">Permite la administración de las Librerías o tiendas que están a cargo de la Editorial, llevando un control de los textos. Adecuado a la Facturación Electrónica de SUNAT.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-PUNTO_VENTA.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnPventa1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnPventa2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-building-o fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    ACTIVOS FIJOS
                                </h4>
                                <p class="card-text">Lleva un control eficiente de los activos Tangibles e Intangibles de la empresa. Determina la depreciación, revaluación y contabilización de los activos cada mes y cierre anual.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-ACTIVO_FIJO.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnActFij1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnActFij2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-users fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    PERSONAL
                                </h4>
                                <p class="card-text">Procesa la Planilla de Sueldos y Salarios de los trabajadores de la empresa; Lleva un estricto control de las horas trabajadas por trabajador. Permite la gestión de préstamos.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-PLANILLA.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnPersonal1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnPersonal2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-american-sign-language-interpreting fa-5x text-white text-center bg-primary" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    CUENTAS POR PAGAR
                                </h4>
                                <p class="card-text">Lleva un estricto control de las Cuentas por Pagar, a Proveedores, accionistas, Terceros, etc. Permitiendo conocer los documentos pendientes de pago y a que empresa corresponde.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-CxP.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnCpagar1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnCpagar2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-university fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title text-center titulo">
                                    TESORERIA
                                </h4>
                                <p class="card-text">Lleva un estricto control del ingreso y salida de dinero de la empresa, sea en efectivo como en Bancos. Permite consultar contablemente los movimientos recaudados en cuentas de caja y bancos, para determinar el flujo de
                                    ingresos por sucursal, rango de valores y fechas. </p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-TESORERIA.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnTesoreria1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnTesoreria2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-book fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    CUENTAS POR COBRAR
                                </h4>
                                <p class="card-text">Lleva un estricto control del ingreso y salida de dinero de la empresa, sea en efectivo como en Bancos. Permite consultar contablemente los movimientos recaudados en cuentas de caja y bancos, para determinar el flujo de
                                    ingresos por sucursal, rango de valores y fechas. </p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-CxC.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnCcobrar1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnCcobrar2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-bar-chart fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    CONTABILIDAD
                                </h4>
                                <p class="card-text">Logra registrar automáticamente el 98% de los asientos contables de la Empresa. Permite tener en línea los estados financieros y libros contables, de acuerdo a las normas de SUNAT emitidas recientemente. Minimiza costos
                                    operativos de la empresa, al disminuir significativamente el número de personas dedicadas al registro Contables.</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-CONTABILIDAD.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnContabilidad1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnContabilidad2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <i class="fa fa-coffee fa-5x text-center bg-primary text-white" aria-hidden="true"></i>
                            <div class="card-body">
                                <h4 class="card-title titulo text-center">
                                    SIG. GESTIÓN
                                </h4>
                                <p class="card-text">Brinda información consolidada de los diferentes módulos del Sistema integrado ISANEG-ERP a los Directivos de la empresa. En un solo Módulo pueden consultar e imprimir distintas informaciones que permite medir el grado
                                    de productividad o efectividad de un promotor, vendedor, etc. Obtiene indicadores de gestión como índice de rotación de inventarios, índice de efectividad de la cobranza, índice de recaudación de crédito vs a lo que
                                    se factura mes a mes etc. </p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a class="btn btn-success btn-block" title="Descargar PDF" href="assets/file/ISANEG-SIG_GESTION.pdf" download>
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <!-- <div class="col-md-6">
                                        <button id="btnSgestion1" type="button" class="btn btn-danger btn-block" title="Descargar Demo">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnSgestion2" type="button" class="btn btn-success btn-block" title="Descripción">
                                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>                             
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>