<mat-toolbar>APERTURA DE CAJA</mat-toolbar>
<div [hidden]="route.children.length !== 0">
  <form [formGroup]="form" (ngSubmit)="buscar()">

    <mat-form-field>
      <input matInput placeholder="Centro" formControlName="centro">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" placeholder="escoge una fecha" [max]="maxFecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>
  </form>
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.fecha | date:'dd-MM-yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="hora">
        <mat-header-cell *matHeaderCellDef>Hora</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.hora}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="codCaja">
        <mat-header-cell *matHeaderCellDef>Caja</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.idArcaja.codCaja}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cajera">
        <mat-header-cell *matHeaderCellDef>Cajera</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cajera}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="saldoInicial">
        <mat-header-cell *matHeaderCellDef>Saldo Inicial</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.saldoInicial}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fechaCierre">
        <mat-header-cell *matHeaderCellDef>Fecha Cierre</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.fechaCierre | date:'dd-MM-yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="horaCierre">
        <mat-header-cell *matHeaderCellDef>Hora Cierre</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.horaCierre}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button color="primary" type="button" (click)="abrirDialogo(row)">
            <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="accent" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 25, 100]"></mat-paginator>
    <!--<mat-icon>create</mat-icon> -->
</div>
<button mat-fab color="accent" style="float: right" (click)="abrirDialogo()"><mat-icon>create</mat-icon></button>
