<!-- <div class="col-md-3 col-lg-4">
                    <img src="./assets/images/user.jpg" alt="user" class="img-responsive" style="height:100%; width: 50%;">
                </div> -->
<div class="col-md-12">
    <h3 class="box-title m-b-0">{{usuario.nombre}} {{usuario.apellido}}</h3>
    <address>
        <small class="text-muted">EMPRESA</small>
        <h6>{{company.nombre}}</h6>
        <small class="text-muted">USUARIO</small>
        <h6>{{gelocation.usuario}}</h6>
        <small class="text-muted">DNI</small>
        <h6>{{gelocation.dni}}</h6>
        <small class="text-muted">EMAIL</small>
        <h6>{{usuario.email}}</h6>
    </address>
</div>