<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">PCPE PRODUCCIÓN</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active"><a routerLink="/dashboard/servicios">Nuestros Servicios</a></li>
                            <li class="breadcrumb-item active">PCPE PRODUCCIÓN</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-12">
                        <!-- PANEL GENERAL -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title text-center">SISTEMA DE PLANEAMIENTO Y CONTROL DE PRODUCCION EDITORIAL</h2>
                                <h3 id="tituloRojo" class="text-center">“PCPE-PRODUCCION”</h3>
                                <!-- GRUPO DE ITEM -->
                                <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1.- INTRODUCCIÓN</a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                El sistema PCPE-Producción es un software adecuado para administrar editoriales e imprentas, toda vez que esta personalizado a las características propias de empresas editoriales, sin embargo se podría aplicar a otro giro de empresas haciendo pequeños
                                                desarrollos a medida, por la flexibilidad que tiene este sistema y el iSANEG-ERP.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2.- OBJETIVOS DEL SISTEMA PCPE-PRODUCCIÓN :</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Lograr una eficiente administración de los procesos que existen en las diferentes fases o etapas: Gerencia-Logística, Edición, Impresión y Costos de la producción editorial.</li>
                                                                    <li>Controlar al milímetro la participación del potencial humano y del uso de recursos materiales, financieros y máquinas en todo el proceso productivo, logrando con esto minimizar los costos
                                                                        de producción.</li>
                                                                    <li>Eliminar las mermas encubiertas que existen en los procesos productivos editoriales al no disponer de herramientas como el PCPEProducción, logrando aprovechar al máximo cada recurso que
                                                                        participa en el proceso</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Cumplir con los requerimientos de producción editorial del área comercial y de los clientes externos (servicios de edición y/o impresión) dentro de los plazos establecidos.</li>
                                                                    <li>Determinar los costos por cada producto editorial tanto de productos terminados como productos en proceso y emitir reportes según norma de SUNAT</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CARACTERISTICAS DEL SISTEMA PCPE-PRODUCCIÓN -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3.- CARACTERISTICAS DEL SISTEMA PCPE-PRODUCCIÓN</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>
                                                                        Lleva el control de las fases, procesos y subproceso editoriales, para el cual administra por líneas de producción (textos, diccionarios, palería, etc.) y define por cada producto editorial (Libro, papel según requerimiento o contrato) un código de proyecto
                                                                        (Pre-Orden)
                                                                    </li>
                                                                    <li>
                                                                        Abarca la Producción de Servicios, Ensambles, Semielaborados, Subproductos y Productos.
                                                                    </li>
                                                                    <li>
                                                                        Controla todo tipo de Insumo, Recurso o Servicio que requiere la Fabricación de un Producto.
                                                                    </li>
                                                                    <li>
                                                                        Control de la Disponibilidad de los Recursos en el tiempo (maquinarias, equipos, personal, etc.
                                                                    </li>
                                                                    <li>
                                                                        Registrar y modificar Planes de Producción.
                                                                    </li>
                                                                    <li>
                                                                        Generar Planes de Requerimiento de Materiales.
                                                                    </li>
                                                                    <li>
                                                                        Generar Programas de Producción (Diagramas Gant).
                                                                    </li>
                                                                    <li>
                                                                        Generar las Órdenes de Producción.
                                                                    </li>
                                                                    <li>
                                                                        Generar Órdenes de Trabajo para cada Proceso.
                                                                    </li>
                                                                    <li>
                                                                        Generar Órdenes de Salida de Materiales.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>
                                                                        Generar Vales de Salida para lo no previsto.
                                                                    </li>
                                                                    <li>
                                                                        Controlar el estado de atención o avance de cada Orden de Producción.
                                                                    </li>
                                                                    <li>
                                                                        Generar Partes de Producción y Consumo por cada proceso de una Orden de Producción.
                                                                    </li>
                                                                    <li>
                                                                        Generar Partes de Ingreso a Almacenes.
                                                                    </li>
                                                                    <li>
                                                                        Control de Horas-Hombre Utilizadas por cada Orden de Producción y cada Tipo de Proceso.
                                                                    </li>
                                                                    <li>
                                                                        Control de Mermas de Producción por Orden de Producción, Proceso y Producto.
                                                                    </li>
                                                                    <li>
                                                                        Análisis de Productividad por Proceso y Persona.
                                                                    </li>
                                                                    <li>
                                                                        Costeo y Rentabilidad por Orden de Producción.
                                                                    </li>
                                                                    <li>
                                                                        Análisis de Costos Estándar vs. Costos Reales.
                                                                    </li>
                                                                    <li>
                                                                        Asientos Contables de Producción.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">4.- PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN:</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <!-- PRIMERA -->
                                                <ul>
                                                    <!-- 4.1 -->
                                                    <li><strong>4.1 MANTENIMIENTO:</strong></li>
                                                    <ul>
                                                        <li><strong>Administración:</strong></li>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li>
                                                                                Compañías.
                                                                            </li>
                                                                            <li>Unidades Organizacionales.</li>
                                                                            <li>Personal.</li>
                                                                            <li>Usuarios.</li>
                                                                            <li>Transacciones.</li>
                                                                            <li>Documentos</li>
                                                                            <li>Almacenes.</li>
                                                                            <li>Ubicaciones Geográficas.</li>
                                                                            <li>Calendarios.</li>
                                                                            <li>Tablas Internas.</li>
                                                                            <li>Formatos de Envío</li>
                                                                            <li>Transacciones Relacionadas al Proceso de Producción.</li>
                                                                            <li>Fases/Procesos/Sub Procesos Prod. Edit</li>

                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <ul>
                                                                            <li>
                                                                                Títulos Productos Editoriales Compuestos.
                                                                            </li>
                                                                            <li>Cuentas de Costeo del Proceso de Producción.</li>
                                                                            <li>Porcentaje de Distribución Gastos Generales Indirectos.</li>
                                                                            <li>Maquinas de Producción.</li>
                                                                            <li>Puestos de Trabajo directos.</li>
                                                                            <li>Turnos de Trabajo.</li>
                                                                            <li>Tallas o Medidas de Papel.</li>
                                                                            <li>Formatos Cerrados.</li>
                                                                            <li>Horas Reales Laborables.</li>
                                                                            <li>Artículos.</li>
                                                                            <li>Proveedores.</li>
                                                                            <li>Clientes.</li>
                                                                            <li>Flujos Prototipos por Línea Produc. y Fases.</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                    <!--4.2 -->
                                                    <li><strong>4.2Gerencia y Logística – Editorial.</strong></li>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Registro de Productos Potenciales.</li>
                                                                        <li>Perfil de Proyectos Editoriales.</li>
                                                                        <li>Pedidos de Producción Editorial.</li>
                                                                        <li>Pre-Ordenes (Proyectos) en Producción Editorial.</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Pre- Ordenes (Proyectos) con Ord. Prod. y Ord. Serv</li>
                                                                        <li>Autores.</li>
                                                                        <li>Registro Ordenes Servicios (OV, OX, OS).</li>
                                                                        <li>Informe Personal de Actividad Mensual.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 4.3 -->
                                                    <li><strong>4.3 Edición de Textos y Similares.</strong></li>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Recepción de Pre Órdenes Aprobadas.</li>
                                                                        <li>Planeamiento y Programación de la Edición.</li>
                                                                        <li>Flujo Interno de Edición de Textos y Similares.</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Producto Editorial – Ficha Técnica</li>
                                                                        <li>Consulta Ordenes de Edición en Proceso</li>
                                                                        <li>Consulta de Informes Mensuales de Personal.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 4.4 Producción de Textos y Similares -->
                                                    <li><strong>4.4 Producción de Textos y Similares.</strong></li>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Recepción de Pre Ordenes de textos y similares.</li>
                                                                        <li>Planeamiento y Programación. Impresión de Textos.</li>
                                                                        <li>Flujo Interno de Impresión de Textos y Similares.</li>
                                                                        <li>Producción de Papelería (Servicio Externo) y Cds.</li>
                                                                        <li>Registro de Ordenes de Facturación (OR).</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Consulta de Ordenes de Producción en Proceso (OP).</li>
                                                                        <li>Consulta de Ord. De Producción con Ord. De Facturación.</li>
                                                                        <li>Consulta de Ordenes de Facturación (OR, OV, OX).</li>
                                                                        <li>Consulta de Informes Mensuales de Personal.</li>
                                                                        <li>Consulta de Productos Producidos en Planta C/E.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <li><strong>4.5 Costeo y Contabilización.</strong></li>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Costeo Mano Obra x Prod. Edit.</li>
                                                                        <li>Costeo Materiales x Prod. Edit.</li>
                                                                        <li>Costeo Máquinas x Prod. Edit.</li>
                                                                        <li>Costeo de Servicios x Prod. Edit.</li>
                                                                        <li>Costeo Gastos Generales Indirectos.</li>
                                                                        <li>Actualización de Saldos Periodo Anterior.</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        <li>Costo Total y Costo Unitario Asiento Contable.</li>
                                                                        <li>Genera A.C Consumo de Materiales.</li>
                                                                        <li>Consulta A.C Consumo de Materiales.</li>
                                                                        <li>Consulta de Costos x Proyecto Editorial.</li>
                                                                        <li>Reportes de Costeo.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul>
                                                <!-- FIN DE PRIMERA -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- 5. INVENTARIOS: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree">5. INVENTARIOS:</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Movimientos de Stock.</li>
                                                                    <li>Reversión de Movimientos.</li>
                                                                    <li>Comprobantes Pendientes de Despachos.</li>
                                                                    <li>Pedidos al Almacén de Producción.</li>
                                                                    <li>Comprobantes de Traslado.</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Guías de Remisión.</li>
                                                                    <li>Doctos Llegados de otros Almacenes por Confirmar.</li>
                                                                    <li>Inventarios Físicos de Alma. Produc.</li>
                                                                    <li>Reportes.</li>
                                                                    <li>Consultas.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--6. PRINCIPALES CONSULTAS: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree">6. PRINCIPALES CONSULTAS: </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Mantenimiento de Consultas.</li>
                                                                    <li>Productos Potenciales.</li>
                                                                    <li>Producto Editorial – Ficha Técnica.</li>
                                                                    <li>Pedidos por Estado.</li>
                                                                    <li>Pre-Ordenes Gerencial por Estado (Proyecto Editorial).</li>
                                                                    <li>Pre-Ordenes en Proceso Ediciones por Estado.</li>
                                                                    <li>Ordenes de Edición por Estado.</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Pre- Ordenes en proceso Producción por Estado.</li>
                                                                    <li>Ordenes de Producción por Estado.</li>
                                                                    <li>Ordenes de Trabajo por Estado.</li>
                                                                    <li>Consulta de Mensajes.</li>
                                                                    <li>Historial de Estados por Documentos.</li>
                                                                    <li>Proyectos Registrados en Módulos Contables.</li>
                                                                    <li>Consumo por Proyectos Editoriales.</li>
                                                                    <li>Análisis de Gastos x Centro de Costos.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--7. EL SUBSISTEMA iSANEG – PRODUCCION EVITA: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree7" aria-expanded="false" aria-controls="collapseThree">7. EL SUBSISTEMA iSANEG – PRODUCCION EVITA: </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree7" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Pérdida de Ventas por Falta de Stock.</li>
                                                                    <li>Penalidades por demora en plazos de entrega.</li>
                                                                    <li>Que se fijen precios sobre costos irreales.</li>
                                                                    <li>Tener planes y programas no realizables.</li>
                                                                    <li>Sobrecostos en Compras por falta de previsión en el abastecimiento de insumos y recursos.</li>
                                                                    <li>Sobrecostos en Producción para atender pedidos de producción no programados o “urgentes”.. </li>
                                                                    <li>Entrega de Materiales en Exceso a Producción</li>
                                                                    <li>Que no se devuelvan los materiales excedentes. </li>
                                                                    <li>Que no se tenga el control de la producción de Subproductos y materiales de deshecho.</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li>Que no se conozcan las Mermas reales. Que no se cuente con información histórica para reajustar las fórmulas de materiales.</li>
                                                                    <li>Que no se disponga de información precisa del estado de atención de los Pedidos a Producción. </li>
                                                                    <li>Desconocer la Productividad real de los recursos (máquinas, equipos, personal, insumos, etc.). </li>
                                                                    <li>Que los Jefes no se anticipen a los problemas. </li>
                                                                    <li>Que Producción funcione como una isla.</li>
                                                                    <li>Que el personal de ventas, pierda tiempo y ventas por no conocer el stock en tránsito.</li>
                                                                    <li>Que se altere la información pasada sin conocimiento de la Gerencia. </li>
                                                                    <li>Que las cifras de Producción sean diferentes a las de Inventarios, Personal y Contabilidad</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIN PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN: -->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- BARRA LATERAL DERECHO EXPERIENCIA PROFECIONAL -->

                </div>
            </div>
        </div>
    </div>
</div>