<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Trabajos Realizados</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Trabajos Realizados</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <div class="vtabs">
                                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home4" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Sector Publicos</span> </a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile4" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Sector Privados</span></a> </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home4" role="tabpanel">
                                            <div class="p-20">
                                                <h3 class="titulo">TRABAJOS SECTOR PUBLICO</h3>
                                                <ul>
                                                    <li>Desarrollo e implantación del Sistema de Administración Hospitalaria del Hospital III ( IPSS - Gerencia Departamental de Junín-Huancayo. </li>
                                                    <li>Administración del proceso de depuración y actualización de la base de datos de pensionistas del DL. 19990 del IPSS - Proyecto Especial de Pensiones. </li>
                                                    <li>Desarrollo, implantación y mantenimiento del Sistema de Actualización y Depuración de Base de Datos de Pensionistas del IPSS, SIADPE. </li>
                                                    <li>Servicio de administración de la Oficina de Pensiones (OCR, Inspección y Control de Pagos) del IPSS - Gerencia Departamental de Piura, GZ-Huacho. </li>
                                                    <li>Desarrollo e implantación del Sistema de Administración e Intercambio de Información “DJT” en medios magnéticos para el IPSS- Gerencia de Operaciones de la Gerencia Central de Recaudación y Mercadeo.
                                                    </li>
                                                    <li>Administración del proceso de intercambio de información de DJT de empleadores para el IPSS - Gerencia Central de Recaudación y Mercadeo. </li>
                                                    <li>Formulación del Plan Director de Informatización del Programa Central de Servicios Especiales del IPSS.</li>
                                                    <li>Servicio de Organización de Archivos Físicos y Sistema de Control Documentario del PCSE -IPSS (Padomi y Clínicas Contratadas ). </li>
                                                    <li>Modelamiento de Base de datos y Desarrollo e Implantación del Sistema de Administración del Archivo Físico de la oferta flexible del IPSS (hoy EsSalud). </li>
                                                    <li>Modelamiento de Base de Datos y desarrollo del sistema de Registro 20530 para el IPSS.</li>
                                                    <li>Formulación del Plan Director de Informatización del Hospital Hermilio Valdizán y desarrollo inicial.</li>
                                                    <li>Desarrollo e Implantación del Sistema de Control Gerencial para los Hospitales Cayetano Heredia, María Auxiliadora y Daniel Alcides Carrión, del Ministerio de Salud. Proyecto bajo subcontrato con la
                                                        firma SODETEG-Francia.
                                                    </li>
                                                    <li>Desarrollo e Implementación del Sistema de Gestión de Legajos de Personal (SILEG) de la DRE, SDRE, USE, ADEs del Ministerio de Educación, a través del Programa MECEP.</li>
                                                    <li>Servicio de Consultoría para la Actualización y digitación de los Registros (Legajos) de Personal del Ministerio de Educación.</li>
                                                    <li>Desarrollo e Implantación del Sistema de Trámite Documentario (STD) en el FONDO MIVIVIENDA </li>
                                                    <li>Desarrollo e Implantación del Sistema de Compras (SCOM) en el FONDO MIVIVIENDA .</li>
                                                    <li>Desarrollo e Implantación del Sistema de Prestamos Hipotecarios(SPH) en el FONDO MIVIVIENDA .</li>
                                                    <li>Migración del Sistema de Contabilidad (SCON) y Sistema de Gestión Documentaria a Plataforma Oracle 8i y 9i adecuada para la Administración Pública. </li>
                                                    <li>Desarrollo e Implantación del Sistema de Inscripción en el Registro de Entidades Certificadoras Autorizadas por el CND (SIRECA). </li>
                                                    <li>Desarrollo e implantación del Sistema para la Administración de Proyectos de Infraestructura Productiva y Social (SPIPS) en FONCODES - CND. Oracle 10g. </li>
                                                    <li>Desarrollo e implantación del Sistema de Registro y Control del Proceso de Transferencia de funciones a los Gobiernos Regionales (SECOPA) en el CND.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane p-20" id="profile4" role="tabpanel">
                                            <h3 class="titulo">TRABAJOS SECTOR PRIVADO</h3>
                                            <ul>
                                                <!-- <li class="text-justify">Adecuación e Implantación del Sistema ISANEG-ERP para Pymes  en el Empresa ABASTECIMIENTOS MINEROS Y CIA SAC ( ABMIN & CIA SAC), En Cliente Servidor en sede central y el Módulo Punto de Venta  en plataforma Web (En Developer 12C). hasta Abril-2019. Con Actualización de la facturación electrónica.</li> -->
                                                <li class="text-justify">Desarrollo Complementario para hacer la integración de la Facturación Electrónica de la editorial Escuela Activa y Delta Editores con la firma ACEPTA según normas de SUNAT UBL 2.1 quedando implantado a partir
                                                    del mes de oct.2018.</li>
                                                <li class="text-justify">Mantenimiento y Optimización del Sistema Integrado ISANEG-ERP para Editoriales, en Editorial Escuela Activa SA. y DELTA Editores SAC. Manteniendo la Administración del área de Sistemas de dichas editoriales
                                                    desde Agosto 2016 y continua a la fecha Abril-2019.</li>
                                                <li class="text-justify">Desarrollo Complementario para hacer la integración del sistema ISANEG-ERP con la Facturación Electrónica de Asociación Editorial Bruño con la firma TCI según normas de SUNAT UBL 2.0 quedando implantado
                                                    a partir del mes de Abril-2016.</li>
                                                <li class="text-justify">Mantenimiento y Optimización del Sistema Integrado ISANEG-ERP para Editoriales, en Asociación Editorial BRUÑO, efectuando el Mantenimiento del sistema Integrado ISANEG-ERP y Soporte a usuarios en el día
                                                    a día desde Junio-2012 hasta Enero-2018.</li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema ISANEG-ERP para Pymes en el Empresa HS IMPORT SAC, En Cliente Servidor en sede central y su actualización con facturación electrónica a marzo 2018.</li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema ISANEG-ERP para Pymes en el Empresa Hidraulic Solutions SAC, En Cliente Servidor en sede central y su actualización con facturación electrónica a marzo 2018.</li>
                                                <li class="text-justify">Migración del Sistema de Pensiones de la Caja de Pensiones Policial Militar que estaba en Plataforma Cliente-Servidor (Oracle Developer 6i) a Plataforma web en lenguaje Developer 12C usando Servidor Weblogic
                                                    12C y base datos Oracle 11g R2, periodo feb-2017 a Mayo-2017.</li>
                                                <li class="text-justify">Desarrollo Complementario e implantación del Sistema SAFE (iSANEG-ERP) en la Editorial Escuela Activa SA. y Editorial Delta Editores SAC.. en plataforma Oracle Developer 6i Base de Datos 10g, 14 módulos;
                                                    desde Nov-2014 a Agosto-2015. </li>
                                                <li class="text-justify">Desarrollo e Implantación del Sistema de Planeamiento y Control de la Producción con determinación de costos unitarios, para Asociación editorial Bruño entre Marzo-Julio 2010 todo en plataforma Oracle y
                                                    cliente-servidor.
                                                </li>
                                                <li class="text-justify">Adecuación e implantación del Sistema SAFE (iSANEG-ERP) en la Asociación Editorial Bruño S.A. en plataforma Oracle Developer 6i Base de Datos 10g, 11g.</li>
                                                <li class="text-justify">Adecuación e implantación del Sistema SAFE (iSANEG-ERP) en la firma IMACO S.A. en plataforma Oracle Developer 6i Base de Datos 10g, 11g. </li>

                                                <li class="text-justify">Elaboración del Plan Director de Informatización de la Zona Franca de Ilo (ZOFRI-ILO) o conocido como CETICOS Ilo.</li>
                                                <li class="text-justify">Instalación de la Red Novell con 50 usuarios operatvos con dos Servidores de la Zona Franca de Ilo. </li>
                                                <li class="text-justify">Desarrollo e Implantación del Sistema de Administración de Negocios-SANEG (Compras e Importaciones,Facturación, Control de Almacenes, Control de Carga, Planillas E/O, Contabilidad, Activo Fijo), vendida
                                                    inicialmente a la empresa SEYCOSA que importa repuestos Volvo y Llanta para camiones, inicialmente desarrollado en Clipper FiveWin (Visual). </li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema SANEG en la Empresa NEGOCIACIONES HORIZONTE S.A.C., dedicado a la importación de Conservas y Productos Alimenticios de Europa y otros Países de Sudamérica. </li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema SANEG en la empresa AGROINDUSTRIAL SAN JOSE dedicado a la producción de arroz cáscara y procesamiento de arroz pelado. </li>
                                                <li class="text-justify">Implantación del Sistema SANEG en la empresa VIVATEX PERUANA S.A. dedicado a la fabricación de camisas y ropa de vestir . </li>
                                                <li class="text-justify">Implantación del Sistema SANEG en la empresa PLASTICOS BARUR S.A., empresa dedicada a la producción de artículos de plásticos educativos. </li>
                                                <li class="text-justify">Desarrollo e Implantación del Sistema de Gestión Administrativa de AYB TRADING S.R.L. todo en ambiente Windows, interactuando clientes y proveedores a través de INTERNET. </li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema SANEG en la Empresa PRODUCTOS INDUSTRIALES ARTI SA. </li>
                                                <li class="text-justify">Adecuación e implantación del Sistema SANEG en la Empresa ECOLAB S.R.Ltda. </li>
                                                <li class="text-justify">Adecuación e Implantación del Sistema SANEG en la Empresa RAMON ENCISO S.A. </li>
                                                <li class="text-justify">Desarrollo e Implantación del Sistema de Gestión Administrativa de SODETEG-PERU, todo en ambiente Windows, interactuando clientes y proveedores a través de INTERNET. </li>
                                                <li class="text-justify">Modelamiento de Base de datos y nuevo desarrollo del Sistema SANEG para ambiente cliente Servidor, programado en lenguaje Developer 6i y Bases de Datos Oracle. Que paulatinamente estamos implantando en clientes
                                                    actuales. </li>
                                                <li class="text-justify">Migración del sistema SANEG a plataforma ORACLE 8i, 9i y algunos modulos en J-Developer 9i. </li>
                                                <li class="text-justify">Implantación del Sistema de Contabilidad SCON en la Empresa A&B Trading Plataforma Oracle 8i y Developer 6i. </li>
                                                <li class="text-justify">Implantación del Sistema de Tramite Documentario SGDi V3.3i en Plataforma Web Oracle 9i, J-Developer 9i. </li>
                                                <li class="text-justify">Implantación del Sistema SANEG-PYMES en HYDRACOM, REPUESTOS Y SERVICIOS ESPERANZA.</li>
                                                <li class="text-justify">Migración del Sistema SANEG de FoxPro para Windows a Visual Foxpro para Pymes. </li>
                                                <li class="text-justify">Desarrollo del Sistema de Gestión Comercial (SGCor) para la firma AYB Trading SRL en plataforma Oracle Devoloper 6i, Base de Datos Oracle 10g.</li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>