<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">iSANEG ERP</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <li class="breadcrumb-item active"><a routerLink="/dashboard/productos">Nuestros Productos</a></li>
                            <li class="breadcrumb-item active">iSANEG ERP</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingCuatro">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">iSANEG ERP</a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <!-- <a href="archivo/ISANEG-COMPRAS.pdf" target="_new">1.-Compras</a> -->
                                            <a href="?pagina=sgcor_compras">1.-Compras</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_importaciones">2.-Importaciones</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_inventarios">3.-Inventarios</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_promocion">4.-Promoción</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_produccion">5.-Producción</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_incentivos">6.-Incentivos</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_facturacion">7.-Venta Mayorista</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_pventa">8.-Venta X Libreria</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_afijo">9.-Activo Fijo</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_planilla">10.-Personal</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_cpagar">11.-Cuentas x Pagar</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_tesor">12.-Tesoreria</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_cxc">13.-Cuentas x Cobrar</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_conta">14.-Contabilidad</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_gesti">15.-SIG-Gestión</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_produccion">16.-Producción WEB</a>
                                        </li>
                                        <li>
                                            <a href="?pagina=sgcor_presu">17.-Presupuesto</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <img alt="Bootstrap Image Preview" src="./assets/images/Iteracion_SAFE-ERP3.jpg" class="img-thumbnail" />
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>