<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Trabajos Realizados I.O</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Trabajos Realizados I.O</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <!-- COMTENIDOS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable" id="tabs-701240">

                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-732298">
                                    <br>
                                    <h4 class="titulo">PRINCIPALES TRABAJOS REALIZADOS EN IO</h4>
                                    <ul>
                                        <li class="text-justify">Servicio de Consultoría para el Mejoramiento Continuo de los Procesos y Aseguramiento de la Calidad del Servicio de DATA TOOLS S.A. Sucursal del Callao; encargada del Servicio de Fiscalización del Transporte en
                                            la Provincia Constitucional del Callao-Perú, desde Enero 2,015 y continúa a la fecha abril-2019. </li>
                                        <li class="text-justify">Servicio de Consultoría para el Análisis, Diseño, Desarrollo e Implantación de los Procesos y Sistemas para la Transferencia de Funciones a los Gobiernos Regionales y Gobiernos Locales Provinciales y Distritales,
                                            establecidos por ley y Gestionado por el Consejo Nacional de Descentralización (CND) años 2004 a abril 2006. Se Implanto 5 Procedimientos, Procesos y Sistemas Aplicativos en plataforma web. </li>
                                        <li class="text-justify">Servicio de Consultoría para el Levantamiento de Registros de Legajos de Personal Activo y Cesante del Ministerio de Educación a Nivel Nacional. Proyecto financiado por el Banco Mundial. </li>
                                        <p class="text-justify">Este servicio consistió en definir formularios para la transcripción de datos de los legajos de los profesores y demás trabajadores del MED, luego su digitación y creación de una base de datos. Para ello se Desarrolló
                                            e Implanto el Sistema denominado SILEG, la misma que se implanto en las DRE, SDRE, USE, ADEs del Ministerio de Educación, previa capacitación al personal del Área de Legajos, así como de Sistemas en cada dependencia
                                            a nivel nacional entre los años 1,999 al 2001.</p>
                                        <li class="text-justify">Servicio de Administración del Proceso de Depuración y Actualización de la Base de Datos de Pensionistas del DL. 19990 del IPSS - Proyecto Especial de Pensiones. </li>
                                        <p class="text-justify">Servicio de consultoría consistió en hacer el levantamiento de datos desde el Expediente fuente de la Pensión, diseñando formularios para ello, elaborando varios módulos informáticos para la captura de datos, evaluación
                                            y depuración previo cruce de base de datos con distintas organismos del estado entre ellos RENIEC, hasta el poblamiento de la nueva base de datos de Pensionistas, encontrando que existían casi 7 mil pensionistas
                                            que se habían pensionado con un mismo nro. De asegurado, así como 32000 pensionistas que no tenían derecho, y calculando cuánto cuesta esto mensual y anualmente al IPSS. Situación que se puso en conocimiento
                                            del Directorio y a nivel gobierno. Años 1,994 y 1995. </p>
                                        <li class="text-justify">Evaluación de la Prestación de Servicios de Consulta Externa del Hospital Edgardo Rebagliati Martins. </li>
                                        <p class="text-justify">El servicio consistió en analizar la situación actual del servicio de Consulta externa, para lo cual evaluamos las citas que se daban, las colas que a diario se presentaban, el tiempo de atención o consulta que
                                            usaban los médicos. Al final el modelo recomendó cambiar la forma de dar citas y se optimizó el tiempo de atención médica. Resultando la sistematización o informatización de la consulta externa. Se aplicó un
                                            mejoramiento continuo de procesos.</p>
                                        <li class="text-justify">Participación en la Evaluación y Programación Financiera de ESSALUD.</li>
                                        <p class="text-justify">El servicio consistió en apoyar la evaluación de los recursos económicos financieros de las diferentes leyes que administraba ESSALUD, así como los egresos en los proyectos de inversión y se han elaborado modelos
                                            de optimización que nos permitió dimensionar el proyecto y ver su impacto en cada región se tenía construir o instalar dicho proyecto.</p>
                                        <li class="text-justify">Servicio de Administración de la Oficina de Pensiones (OCR, Inspección y Control de Pagos) del IPSS - Gerencia Departamental de Piura, GZ-Huacho. Realizando todo el proceso de tramitación del expediente del asegurado
                                            que solicita su pensión y realizando la fiscalización de las aportaciones que acreditan el derecho a la pensión. </li>
                                        <li class="text-justify">Servicio de Administración del Proceso de Intercambio de Información de Declaración Jurada de Trabajadores (DJT) de Empleadores para el IPSS - Gerencia Central de Recaudación y Mercadeo, quienes estaban obligados
                                            a presentar su DJT. En medios magnéticos. Se especificó el procedimiento, los procesos y las aplicaciones necesarias para el servicio de consultoría que duro 2 años. </li>
                                        <li class="text-justify">Servicio de Organización de Archivos Físicos y Sistema de Control Documentario del PCSE -IPSS (PADOMI y Clínicas Contratadas). </li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>