<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">SGDi</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active"><a routerLink="/dashboard/servicios">Nuestros Servicios</a></li>
                            <li class="breadcrumb-item active">SGDi</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-12">
                        <!-- PANEL GENERAL -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title text-center">SISTEMA DE GESTION DOCUMENTARIO</h2>
                                <h3 class="text-center"><strong id="tituloRojo">“SGDi” v3.3</strong></h3>
                                <!-- GRUPO DE ITEM -->
                                <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1.0 CARACTERISTICAS GENERALES</a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <p class="text-justify">El Sistema de Gestión Documentaria “SGDi” v.3.3® está diseñado específicamente para atender las necesidades de entidades públicas y ha sido elaborado en base a la normatividad vigente en materia de procedimientos
                                                    administrativos para el Sector Público. Así también el Sistema SGDi es aplicable a empresas privadas de cualquier actividad económica que requieren llevar control de su trámite documentario, sobre todo
                                                    aquellas que sean representantes de empresas extranjeras. </p>
                                                <p class="text-justify">El sistema está desarrollado utilizando tecnologías de información de última generación y herramientas de Intranet e Internet, lo cual permite que usuarios a distancia se integren al sistema en tiempo real.
                                                    Esta característica es particularmente importante en entidades que tienen oficinas u órganos descentralizados o desconcentrados ya que elimina las distancias físicas, permitiendo el máximo de eficiencia
                                                    en la gestión documentaria</p>
                                                <p> <strong>Subsistemas</strong> </p>
                                                <p class="text-justify">
                                                    El sistema SGDi esta constituido de dos subsistemas siguientes:
                                                </p>
                                                <ul>
                                                    <li class="text-justify">Subsistema SGDa que se ejecuta en ambiente Cliente Servidor en una red local instalado en la sede central o sucursal de le entidad o empresa.</li>
                                                    <li class="text-justify">Subsistema SGDb que se ejecuta en un Servidor Web de la empresa para interactuar por Internet desde cualquier lugar del mundo, con el subsistema SGDa</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Procesos</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <p>El Sistema SGDi cubre los siguientes procesos:</p>
                                                            <ul>
                                                                <li class="text-justify">Generación y registro de Documentos (Cartas, Oficios, Memos, etc.) en cada área interna de la empresa, almacenando la información en una base de datos única y con acceso solo del usuario
                                                                    de cada área u oficina </li>
                                                                <li class="text-justify">Gestión de los documentos emitidos por las dependencias de la entidad hacia terceros ( Clientes, Proveedores o otras entidades o áreas externas )</li>
                                                                <li class="text-justify">Gestión de los documentos emitidos por las dependencias de la entidad hacia terceros ( Clientes, Proveedores o otras entidades o áreas externas ).</li>
                                                                <li class="text-justify">Gestión de los documentos internos (entre dependencias o áreas internas de la entidad, intranet</li>
                                                                <li class="text-justify">Gestión de los documentos recibidos de terceros, sea documento físico o virtuales por internet </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CARACTERISTICAS DEL SISTEMA PCPE-PRODUCCIÓN -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Funciones</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <p>El Sistema SGDi tiene las siguientes funciones:</p>
                                                            <ul>
                                                                <!-- <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li> -->
                                                                <li class="text-justify">Registro automático de los documentos emitidos y recibidos, tanto internos como de terceros. Para el cual almacena todos los documentos en una base de datos Oracle.</li>
                                                                <!-- <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li> -->
                                                                <li class="text-justify">Generación automática de documentos (en base a documentos tipo). </li>
                                                                <li class="text-justify">Derivación automático del tránsito de los documentos entre las dependencias de la entidad.</li>
                                                                <li class="text-justify">Derivación automático del tránsito de los documentos entre las dependencias de la entidad.</li>
                                                            </ul>
                                                            <p class="text-justify">Una característica muy importante del SGDi es que permite adjuntar al documento original, otros documentos relacionados ( tipo Word, Excel, PDF, gráfico), de manera que en cualquier etapa del
                                                                trámite, se puede consultar la documentación virtual que lo acompaña en forma inmediata, sin la necesidad de tener físicamente el documento escrito.</p>
                                                            <p><strong>El SGD permite</strong>, además, las siguientes funciones: </p>
                                                            <ul>
                                                                <!-- <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li> -->
                                                                <li class="text-justify">Predefinir en el sistema la ruta de cada tipo de documento.</li>
                                                                <!-- <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li> -->
                                                                <li class="text-justify">El tiempo máximo de permanencia de cada tipo de documento en cada dependencia.</li>
                                                                <li class="text-justify">La emisión automática de avisos de vencimiento de plazos para la tramitación de cada documento en cada dependencia.</li>
                                                                <li class="text-justify">La asignación de prioridades a cada documento en forma individual</li>
                                                                <li class="text-justify">Para empresas que sean representantes de empresas extranjeras permite llevar el control del proceso de importación y las comisiones de venta que corresponde. </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">Consultas y Reportes</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <p lass="text-justify">EL SGDi permite realizar las siguientes consultas y reportes en tiempo real:</p>
                                                <ul>
                                                    <!-- <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li> -->
                                                    <li class="text-justify">Estado de trámite de cualquier documento (Ruta seguida, acción de derivación, documento interno con la que derivaron, persona responsable quien lo tiene, días de permanencia en cada dependencia, estado
                                                        actual del expediente ).</li>
                                                    <!-- <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li> -->
                                                    <li class="text-justify">Visualización de cualquier documento y toda la documentación que lo acompaña.</li>
                                                    <li class="text-justify">Visualización de las observaciones y/o anotaciones que va teniendo el expediente en su tramitación</li>
                                                    <li class="text-justify">Visualización de las observaciones y/o anotaciones que va teniendo el expediente en su tramitación</li>
                                                    <li class="text-justify">Estadísticas de Productividad de cada dependencia (Cantidad de documentos procesados, tiempo promedio de atención, total de días de atraso respecto a lo establecido).</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#seguri" aria-expanded="false" aria-controls="collapseThree">Seguridad</a>
                                            </h5>
                                        </div>
                                        <div id="seguri" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <p lass="text-justify">Asimismo, el SGDi cuenta con los mecanismos mas avanzados para garantizar la seguridad e inviolabilidad de los documentos. El acceso a la base de datos y a las diferentes funciones del Sistema está restringido
                                                    por un sistema de control que autoriza el acceso según niveles y por usuarios, impidiendo el acceso no autorizado y la manipulación de los documentos fuente.</p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#beneficio" aria-expanded="false" aria-controls="collapseThree">Beneficios de SGDi</a>
                                            </h5>
                                        </div>
                                        <div id="beneficio" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <ul>
                                                    <!-- <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li> -->
                                                    <li class="text-justify">El Sistema permite interactuar con dependencias ubicadas físicamente en otros lugares facilitando al máximo la comunicación y coordinación entre dependencias u organismos relacionados con la entidad,
                                                        esta interacción se realiza por internet o por correo electrónico.</li>
                                                    <!-- <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li> -->
                                                    <li class="text-justify">El Sistema permite interactuar con terceros (otras entidades públicas, proveedores, etc) mejorando la eficiencia de la gestión bajo un enfoque de calidad total. </li>
                                                    <li class="text-justify">Elimina el “papeleo”. El sistema trabaja en base a los archivos magnéticos de los documentos transitados por Internet, por lo que se elimina a cero el tiempo y recurso humanos requeridos para el traslado
                                                        físico de los documentos y la impresión y generación de múltiples copias</li>
                                                    <li class="text-justify">El Sistema permite mejorar la eficiencia de la gestión administrativa de cada dependencia al proporcionar información objetiva de la gestión documentaria de cada una de ellas.</li>
                                                    <li class="text-justify">Máxima seguridad del archivo documentario y registro permanente e inviolable de todo el trámite documentario. </li>
                                                    <li class="text-justify">Por todo lo anterior el sistema SGDi permite racionalizar el uso de los recursos humanos y racionalizar los procedimientos administrativos, logrando con ello un ahorro sustancial para la empresa y sobre
                                                        todo no se perderán mas los expedientes y se dará un mejor servicio a los clientes, proveedores y usuarios de la entidad.</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#especi" aria-expanded="false" aria-controls="collapseThree">Especificaciones Técnicas</a>
                                            </h5>
                                        </div>
                                        <div id="especi" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <ul>
                                                    <!-- <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li> -->
                                                    <li class="text-justify">El SGDi esta desarrollado en plataforma ORACLE ® , con lenguaje de programación Developer 6i y Base de Datos 10g para el aplicativo Cliente-Servidor y para WEB ( Internet) en lenguaje Developer 12C de
                                                        Oracle; para el procesamiento web se instala en el Servidor Web ( software WEBLOGIC 12C) sea en windows o Linux; asi también el Servidor de Base de Datos puede tener Sistema Operativo de redes Windows
                                                        2003 o Superior de Windows 12); Las estaciones de trabajo pueden tener sistema operativo Windows XP o superior en las estaciones usuarias Lo ideal es que tengan Windows I7 6ta generación de 8 GB.
                                                        Es lo ideal)</li>
                                                    <!-- <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li> -->
                                                    <li class="text-justify">El SGDi solo requiere que la empresa debe tener el motor de Base de datos Oracle 10g, o 11g o 12C según sea el caso. y para el módulo de Internet requiere además de lo anterior, que disponga la licencia
                                                        del Web Logic 12C para 5 usuarios.</li>
                                                    <li class="text-justify">El sistema está desarrollado íntegramente en ambiente gráfico y es de fácil uso por los usuarios ( directivos, funcionarios, técnicos, secretarias ,etc) .</li>
                                                    <li class="text-justify">El SGDi es de fácil mantenimiento y no requiere de personal técnico especializado permanente para la operación y administración del sistema.</li>
                                                    <li class="text-justify">La venta del sistema SGDi al Cliente que incluye el servicio de Consultoría, normalmente se vende con la Licencia con Programas Compilados y de uso perpetuo solo por el cliente que adquiera, en tal caso
                                                        CDSI puede brindar posteriormente servicios de desarrollo complementario a pedido puntual cuando requieran, se cuantifica el personal, tiempo y costo asociado que nos llevara y se cotiza.</li>
                                                    <li class="text-justify">La Otra forma es la venta de Licencia con Programas Fuentes y de uso perpetuo solo por el cliente, normalmente esta alternativa el costo es mucho mayor.</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- BARRA LATERAL DERECHO EXPERIENCIA PROFECIONAL -->

                </div>
            </div>
        </div>
    </div>
</div>