<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- <li class="user-profile">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void()">My Profile </a></li>
                                <li><a href="javascript:void()">My Balance</a></li>
                                <li><a href="javascript:void()">Inbox</a></li>
                                <li><a href="javascript:void()">Account Setting</a></li>
                                <li><a href="javascript:void()">Logout</a></li>
                            </ul>
                        </li>
                <li class="nav-devider"></li>
                -->
        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-home"></i><span class="hide-menu">Nuestra Empresa</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="cdsi" routerLinkActive="active">Consultoría y Desarrollo de Sistemas Informáticos
                S.A.C.</a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-nest-protect"></i><span class="hide-menu">
              División Tec. Información
            </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="servicios" routerLinkActive="active">Nuestro Servicio</a></li>
            <li><a routerLink="productos" routerLinkActive="active">Nuestros Productos</a></li>
            <li><a routerLink="tra_rea" routerLinkActive="active">Trabajo Realizados</a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-nfc-variant"></i><span class="hide-menu">
              División Inv. Operaciones </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="con_inv_ope" routerLinkActive="active">Nuestro Servicio</a></li>
            <li><a>Nuestros Productos</a></li>
            <li><a routerLink="tra_rea_io" routerLinkActive="active">Trabajo Realizados</a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-account-multiple"></i><span class="hide-menu">Nuestros Clientes</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="clientes" routerLinkActive="active">Clientes</a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-chair-school"></i><span class="hide-menu">Capacitación</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="capacitacion" routerLinkActive="active">Usuario </a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-wan"></i><span class="hide-menu">Alianzas</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="alianzas" routerLinkActive="active">alianzas </a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-certificate"></i><span
              class="hide-menu">
              Demostraciones
            </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a>Medianas y Grandes Empresas</a></li>
            <li><a>Pyme-Pequeña Empresa</a></li>
            <li><a>Mypes-MicroEmpresa</a></li>
          </ul>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="mdi mdi-account-key"></i><span class="hide-menu">Usuario</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="reg_asis" routerLinkActive="active">Registro de Asistencia</a></li>
          </ul>
        </li>
        <li> <a routerLink="/log_arti" class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-basket"></i>
          <span class="hide-menu">Punto de venta</span></a>
          <!--<ul aria-expanded="false" class="collapse">
            <li><a [routerLink]="['/log_arti',2]" routerLinkActive="active">Ventas</a></li>
            <li><a [routerLink]="['/log_arti',1]" routerLinkActive="active">Consulta de Articulos</a></li>
          </ul>--->
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
