<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Nuestros Servicios</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Nuestros Servicios</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-8">

                        <!-- PANEL GENERAL -->
                        <div class="card mb-4">
                            <img class="card-img-top" src="./assets/images/logo_trans_cdsi.png" alt="Card image cap">
                            <div class="card-body">

                                <p class="card-text text-justify"><strong> I.-) <strong class="cdsi">CDSI</strong>propone las mejores soluciones a medida para nuestros clientes y están enfocados a los siguientes:</strong>
                                </p>
                                <ul>
                                    <li class="text-justify">
                                        Desarrollo e implantación de aplicaciones en Internet, Intranet, Extranet, b2b, b2c
                                    </li>
                                    <li class="text-justify">
                                        Desarrollo e implantación de software a medida en plataforma Cliente - Servidor, sea en plataforma Oracle o Microsoft.
                                    </li>
                                    <li class="text-justify">
                                        Desarrollo e implantación de software a medida en plataforma WEB (Internet) sea usando herramientas Oracle, Java, Spring framework , PHP y bases de datos.
                                    </li>
                                    <li class="text-justify">
                                        Diseño y desarrollo de Bases de Datos para encuestas y otros estudios.
                                    </li>
                                    <li class="text-justify">
                                        Auditoria y documentación de sistemas.
                                    </li>
                                </ul>
                                <p class="text-justify">
                                    Nuestros servicios de consultoría incluyen la optimización de los procesos de la empresa, racionalizando la estructura orgánica y personal, para obtener la minimización de costos; por ello, los asesoramos hasta lograr la implantación de políticas óptimas
                                    y un reordenamiento técnico y administrativo.
                                </p>
                                <p class="text-justify">
                                    <strong> II.-)<strong class="cdsi text-justify">CDSI</strong> realiza Migración de Sistemas-Aplicativos de Plataforma Cliente-Servidor(Redes Locales) a Plataforma WEB</strong>
                                </p>
                                <ul>
                                    <!--  <strong>iSANEG ERP : <a href="?pagina=isaneg_erp">(Ver Contenido)</a></strong> -->
                                    <p class="text-justify">Desarrolladas en Oracle Developer 6i (Forms y Reports) con base de datos Oracle a Plataforma WEB (Internet) programando en APEX( Oracle Aplications Express), o migrado a Oracle Developer 12C y JDeveloper 12C.</p>
                                    <p class="text-justify">Normalmente se realiza un desarrollo complementario usando las nuevas herramientas para lograr un eficiente perfomance de la solución web como si se hubiese desarrollado desde cero en Java o Spring framework siempre
                                        con base de datos Oracle.</p>

                                </ul>
                                <p>
                                    <strong>III.-)Venta e Implantación de soluciones desarrolladas para pequeñas, medianas y grandes empresas en plataforma Oracle :</strong>
                                    <ul>
                                        <strong>3.1.- Sistema Integrado <strong class="cdsi">ISANEG-ERP</strong> con Facturación electrónica: <a href="#" data-toggle="modal" data-target=".grafico">(ver gráfico )</a></strong>
                                        <p class="text-justify">Sistema ERP para la Gestión Administrativa y Financiera de una Empresa; es un sistema de desarrollo dinámico para la adecuación a medida de las necesidades de la empresa. Cuenta con los módulos de Compras, Importaciones,
                                            Inventario, Punto de Venta, Promoción, Facturación, Cuentas por Pagar, Cuentas por Cobrar, Tesorería (Caja-Banco), Contabilidad, Activo Fijo, Incentivos, Planillas, Presupuesto, Producción y SIG-Gestión.</p>
                                        <div class="modal fade grafico" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <img src="./assets/images/esquema_isaneg.png" class="img-fluid" alt="Responsive image">
                                                </div>
                                            </div>
                                        </div>
                                        <p>Este sistema integrado dispone de 4 categorías siguientes:</p>
                                        <p><strong>PARA MICROEMPRESAS(MYPES) que facturen hasta 150 UITs al año</strong> </p>
                                        <ul>
                                            <li class="text-justify">
                                                Solo Módulo ISANEG-Punto de Venta en plataforma NUBE-WEB, integrado al aplicativo facturador SFS de SUNAT,(es gratis su uso mensual). De 2 a 4 PCs o usuarios por cada Tienda.
                                                <a href="#" data-toggle="modal" data-target=".grafico1-2">(ver gráfico 1.2)</a>
                                                <div class="modal fade grafico1-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <img src="./assets/images/gra1-2.png" class="img-fluid" alt="Responsive image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="text-justify">
                                                <strong class="cdsi">ISANEG-ERP</strong> integrada con 6 módulos, integrado al aplicativo SFS de SUNAT, se tiene en plataforma Web y en Cliente-Servidor. De 2 a 6 PCs o usuarios en sede central y hasta 3
                                                usuarios por tienda.
                                                <a href="#" data-toggle="modal" data-target=".grafico1-1">(ver gráfico 1.1)</a>
                                                <div class="modal fade grafico1-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <img src="./assets/images/gra1-1.png" class="img-fluid" alt="Responsive image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <p class="text-justify"><strong>PARA PEQUEÑAS EMPRESAS (PYMES) que facturen hasta 1700 UITs al año</strong> </p>
                                        <ul>
                                            <li class="text-justify">
                                                <strong class="cdsi">ISANEG-ERP</strong> con 10 módulos más el aplicativo SFS de SUNAT se tiene en Plataforma Cliente-Servidor en Sede Central de la PYME y Web en Tiendas
                                                <a href="#" data-toggle="modal" data-target=".grafico2-1">(ver gráfico 2.1)</a>, también puede implantar el gráfico 1.1 si solo tiene una tienda. Puede tener desde 6 usuarios hasta 50 usuarios, entre sede
                                                central y tiendas o ferias.
                                            </li>
                                            <div class="modal fade grafico2-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <img src="./assets/images/gra2-1.png" class="img-fluid" alt="Responsive image">
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>

                                        <p class="text-justify"><strong>PARA MEDIANAS Y GRANDES EMPRESAS  que facturen más de  1700 UITs al año</strong> </p>
                                        <ul>
                                            <li class="text-justify">
                                                <strong class="cdsi">ISANEG-ERP</strong> con 15 módulos con facturación electrónica integrada a las Empresas de facturación electrónica tipo TCI, ACEPTA u otro que procesen con la nueva norma UBL 2.1 de
                                                SUNAT se tiene en Plataforma Cliente-Servidor en Sede Central y todos los Puntos de Venta ( tiendas) en plataforma web <a href="#" data-toggle="modal" data-target=".grafico2-1">(ver gráfico 2.1)</a> y pueden
                                                tener entre 50 a 300 usuarios entre sede central y tiendas o sucursales.
                                            </li>
                                        </ul>
                                        <strong>3.2.- Sistema PCPE-PRODUCCION : <a routerLink="pcpe_produccion">(Ver Contenido)</a></strong>
                                        <p class="text-justify">Sistema de Planeamiento y Control de la Producción Editorial, procesan datos interactuando con módulos del Sistema integrado iSANEG ERP, especialmente para administrar los procesos de producción editorial de Imprentas
                                            o empresas Editoras.</p>

                                        <strong>3.3.- Sistema SGCor : <a routerLink="pcpe_sgcor">(Ver Contenido)</a></strong>
                                        <p class="text-justify">Sistema de Gestión Comercial, interactuando con clientes, productos y proveedores. Usado por Empresas Peruanas que son representantes de Ventas de Empresas Transnacionales.</p>

                                        <strong>3.4.- Sistema SGDi : <a routerLink="pcpe_sgdi">(Ver Contenido)</a></strong>
                                        <p class="text-justify">Sistema de Gestión o Trámite Documentario con módulos en Internet. Los documentos (cartas, memos, oficios, etc) navegan en forma electrónica, no siendo necesario el documento fuente, eliminando así grandes archivos
                                            físicos.
                                        </p>

                                        <strong>3.5.- Sistema SILEG : <a routerLink="pcpe_sileg">(Ver Contenido)</a></strong>
                                        <p class="text-justify">Sistema de Legajos del Personal muy útil para la administración pública, así como para empresas privadas.</p>

                                        <!--  </ul> -->

                                    </ul>

                            </div>

                        </div>

                    </div>
                    <!-- BARRA LATERAL DERECHO EXPERIENCIA PROFECIONAL -->
                    <div class="col-md-4">

                        <!-- PROFESIONALES -->
                        <div class="card mb-4">
                            <h5 class="card-header titulo">Nuestros profesionales tienen experiencia en:</h5>
                        </div>

                        <!-- Sistemas Operativos -->
                        <div class="card my-4">
                            <h5 class="card-header titulo">Sistemas Operativos</h5>
                            <div class="card-body">
                                <ul>
                                    <li>Windows 7 y 10</li>
                                    <li>Windows Server 2003, 2008, 2011, 2012 y superiores</li>
                                    <li>Linux</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Bases de datos -->
                        <div class="card my-4">
                            <h5 class="card-header titulo">Bases de datos</h5>
                            <div class="card-body">
                                <ul>
                                    <li>Microsoft SQL Server.</li>
                                    <li>Oracle 10g,11g y 12c.</li>
                                    <li>MySQL.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Internet/ Intranet / Extranet -->
                        <div class="card my-4">
                            <h5 class="card-header titulo">Internet/ Intranet / Extranet</h5>
                            <div class="card-body">
                                <ul>
                                    <li>APEX(oracle APEX)</li>
                                    <li>Developer 11g, Oracle Developer 12C.</li>
                                    <li>Weblogic 12c.</li>
                                    <li>JDeveloper 11g.</li>
                                    <li>PL/SQL.</li>
                                    <li>WebSpeed – Progress.</li>
                                    <li>Microsoft .Net, Web Services.</li>
                                    <li>C# y ASP.NET </li>
                                    <li>Java, Servlets, Applets y JSP.</li>
                                    <li>PHP y MySQL.</li>
                                    <li>HTML y XML.</li>
                                    <li>Angular</li>
                                    <li>Spring Boot</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cliente - Servidor -->
                        <div class="card my-4">
                            <h5 class="card-header titulo">Cliente - Servidor</h5>
                            <div class="card-body">
                                <ul>
                                    <li>Visual Fox Pro Visual.</li>
                                    <li>Visual Basic.</li>
                                    <li>Visual .Net</li>
                                    <li>Developer 6i (Forms, Report, Generics).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>