<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Nuestra Empresa</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">cdsi</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <!-- Intro Content -->
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid rounded mb-4 imgRes" src="./assets/images/logo_trans_cdsi.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="titulo text-justify"> Consultoría y Desarrollo de Sistemas Informáticos S.A.C.</h2>
                        <p class="text-justify">En Noviembre de 1992 un grupo de profesionales altamente calificados con vasta experiencia en el campo de la informática, investigación de operaciones, la previsión y la seguridad social ponen en funcionamiento Consultoría y Desarrollo
                            de Sistemas Informáticos S.A.C.(<strong class="cdsi">CDSI</strong>) con el fin de aplicar sus conocimientos y experiencias al desarrollo de soluciones informáticas integradas. </p>
                        <p class="text-justify">En sus inicios, <strong class="cdsi">CDSI</strong> desarrolló importantes proyectos en los sistemas administrativos, operativos y asistenciales de EsSalud (Ex-Instituto Peruano de Seguridad Social), proyectos, tales como: el Sistema
                            de Prestaciones de Salud, el Sistema Nacional de Pensiones, el Sistema de Inscripción y Recaudaciones, los Sistemas Administrativos de Logística, Contabilidad, Control Presupuestal, Control Patrimonial y Personal, etc.</p>
                    </div>
                    <div class="col-lg-12">
                        <p class="text-justify">Posteriormente, ha diversificado su cartera de clientes y sus servicios, habiendo realizado a la fecha mas de 100 proyectos de consultoría con clientes públicos y privados. A la fecha <strong class="cdsi">CDSI</strong> cuenta con
                            un staff permanente de 25 personas entre funcionarios, profesionales y técnicos además de contar con un pool de especialistas en diferentes áreas de expertise para proyectos o servicios específicos.</p>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Team Members -->
                <h2 class="titulo">Información corporativa</h2>

                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100 ">
                            <img class="card-img-top" src="./assets/images/vision.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title titulo">VISIÓN</h4>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                                <p class="card-text text-justify">Constituirnos en una empresa lider nacional en Consultorías en Optimizacion de Sistemas Organizados (empresa pública o privada ), utilizando tecnologías de información, comunicaciones e investigación de operaciones; para
                                    incrementar la productividad de nuestros clientes y a la vez proyectarnos al mercado internacional; liderando corrientes y filosofías tecnológicas emergentes y trascendentes.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="./assets/images/mision.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title titulo">MISIÓN</h4>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                                <p class="card-text text-justify">Brindar Consultorias con eficiencia y eficacia, asi como soluciones con Modelos Matemáticos y tecnologías de información a las empresas o instituciones públicas que requieren de nuestros servicio y busquen excelencia en
                                    nivel de calidad y satisfacción de sus clientes. para lo cual contamos con el personal profesional altamente capacitado</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="./assets/images/valores.png" alt="">
                            <div class="card-body">
                                <h4 class="card-title titulo">VALORES</h4>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                                <p class="card-text text-justify"><strong class="cdsi">CDSI</strong>, es una empresa que se esfuerza día a día, para ofrecer un mejor servicio a nuestros clientes, con alta calidad y confiabilidad. A traves de 25 años de labor <strong class="cdsi">CDSI</strong>                                    a formado los valores de:</p>
                                <ul>
                                    <li>Dedicación para el exito del proyecto en el cliente.</li>
                                    <li>Confianza y Responsabilidad.</li>
                                    <li>Puntualidad para cumplir con el plazo establecido.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
        </div>
    </div>
</div>