<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">SILEG</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active"><a routerLink="/dashboard/servicios">Nuestros Servicios</a></li>
                            <li class="breadcrumb-item active">SILEG</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <!-- FIN UBICACIÓN EN LA PAGINA -->
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-12">
                        <!-- PANEL GENERAL -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title text-center">SISTEMA DE ADMINISTRACION DE LEGAJOS DE PERSONAL PARA ENTIDADES PUBLICAS Y PRIVADAS</h2>
                                <h3 id="tituloRojo" class="text-center">“SILEG v. 2.4”</h3>
                                <!-- GRUPO DE ITEM -->
                                <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. GENERALIDADES DEL SISTEMA</a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <ul>
                                                    <li>Los objetivos del “Sistema de Administración de Legajos de Personal - SILEG” ,son: Crear una base de datos con información actualizada, completa y confiable, teniendo como fuente el legajo de personal
                                                        (incluye documentos que sustentan) y/o la ficha de datos (manual o Computarizada) de cada trabajador activo, cesantes D.L. 20530, o Jubilado D.L.19990, fallecido (tendrá beneficiarios) y pasivo o
                                                        retirado.
                                                    </li>
                                                    <li>
                                                        Permitir el Registro y mantenimiento de todos los datos consignados en la nueva ficha de datos.
                                                    </li>
                                                    <li>
                                                        Permitir la explotación básica de las bases de datos hasta obtener la Constancia Escalafonaria que es un subproducto de uso cotidiano en cada sede administrativa de un Ministerio.
                                                    </li>
                                                    <li>
                                                        Facilitar la emisión de Inconsistencias para la verificación de datos.
                                                    </li>
                                                    <li>
                                                        Permitir el control computarizado de la digitación.
                                                    </li>
                                                    <li>
                                                        Facilitar la toma de decisiones con una serie de consultas.
                                                    </li>
                                                    <li>
                                                        Permitir la emisión de listados y reportes de control en los distintos pasos del proceso.
                                                    </li>
                                                    <li>
                                                        Efectuar el mantenimiento del aplicativo: Proceso que permite al usuario realizar una serie de operaciones destinadas a efectuar los respaldos y medidas de seguridad y actualización de los archivos y tablas que dan soporte a la operatividad del sistema.
                                                    </li>
                                                </ul>
                                                <p>El sistema “SILEG” completo lo utilizamos para hacer el servicio de Consultoría llevando diferentes controles que no son necesarios en la operatividad de las Oficinas de Escalafón para el ingreso interactivo
                                                    (on-line) de los legajos de los trabajadores del Ministerio de Educación, por ello lo hemos personalizado con las opciones mínimas necesarias.</p>
                                                <p>La oficina de Escalafón de las Direcciones Regionales de Educación, Subdirecciones Regionales de Educación y Direcciones de Servicios Educativos, con el presente Sistema aplicativo dispondrán de una gran
                                                    herramienta para la optimización de sus servicios en el área de Escalafón (Legajos); lo que le permitirá racionalizar sus recursos, minimizar sus costos y fundamentalmente brindar un servicio eficiente.
                                                    Para lograr lo anterior se recomienda mantener actualizada todos los registros de personal es decir ingresar los movimientos al sistema SILEG, en el mismo momento que se está produciendo la transacción
                                                    administrativa.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. CONTENIDO DEL SISTEMA “SILEG” </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <ul>
                                                    <li>2.4 MODULO DE REGISTROS DE DATOS DE LEGAJO</li>
                                                    <ul>
                                                        <li>2.4.1 SUBMENU DEL MODULO DE REGISTRO</li>
                                                        <li>2.4.2 FUNCION DE INGRESO O DIGITACIÓN DE LEGAJOS</li>
                                                        <li>2.4.3 MANTENIMIENTO DE DATOS PERSONALES</li>
                                                        <li>2.4.4 MANTENIMIENTO DE DATOS FAMILIARES</li>
                                                        <li>2.4.5 MANTENIMIENTO DE DATOS DE FORMACIÓN</li>
                                                        <li>2.4.6 MANTENIMIENTO DE DATOS DE CAPACITACIÓN</li>
                                                        <li>2.4.7 MANTENIMIENTO DE DATOS DE RECORD LABORAL</li>
                                                        <li>2.4.8 MANTENIMIENTO DE PENSION O CESANTIA</li>
                                                        <li>2.4.9 MANTENIMIENTO DE DATOS DE LICENCIA Y PERMISOS</li>
                                                        <li>2.4.10 MANTENIMIENTO DE DATOS DE COMISIÓN DE TRABAJO</li>
                                                        <li>2.4.11 MANTENIMIENTO DE DATOS DE MERITOS, DEMERITOS Y SANCIONES</li>
                                                        <li>2.4.12 MANTENIMIENTO DE DATOS DE BENEFICIOS/BONIFICACIONES</li>
                                                        <li>2.4.13 MANTENIMIENTO DE TIEMPO DE SERVICIOS OTROS SECTORES</li>
                                                        <li>2.4.14 MANTENIMIENTO A LOS DATOS DE OBSERVACIONES DE GRUPO DE DATOS</li>
                                                        <li>2.4.15 MANTENIMIENTO DE DATOS FINALES</li>
                                                        <li>2.4.16 FUNCION CAMBIA CODIGO MODULAR</li>
                                                        <li>2.4.17 EMISION MASIVA DE CALCULO DE TIEMPO DE SERVICIOS</li>
                                                        <li>2.4.18 MANTENIMIENTO DE CENTRO DE ESTUDIOS SUPERIORES</li>
                                                        <li>2.4.19 MANTENIMIENTO DE CENTRO EDUCATIVOS DE PRIMARIA SECUNDARIA E INSTITUTOS</li>
                                                        <li>4.4.20 MANTENIMIENTO DE USUARIOS</li>
                                                        <li>4.4.21 SALIR DEL SISTEMA</li>
                                                    </ul>
                                                    <li>2.5 MODULO DE MANTENIMIENTO DE TABLAS</li>
                                                    <ul>
                                                        <li>2.5.1 DESCRIPCION</li>
                                                    </ul>
                                                    <li>MODULO DE CONSULTAS A LA BASE DE DATOS</li>
                                                    <ul>
                                                        <li>2.6.1 SUBMENU DE CONSULTAS</li>
                                                        <li>2.6.2 LEGAJOS POR APELLIDOS Y NOMBRES</li>
                                                        <li>2.6.3 LEGAJOS POR CODIGO MODULAR</li>
                                                        <li>2.6.4 CONSULTA DE TIEMPO DE SERVICIOS</li>
                                                        <li>2.6.5 CONSULTA DE RECORD LABORAL</li>
                                                        <li>2.6.6 CONSULTA FAMILIAR-PENSIONES</li>
                                                        <li>2.6.7 EXAMINADOR DE TABLAS</li>
                                                    </ul>
                                                    <li>2.7 MODULO DE REPORTES</li>
                                                    <ul>
                                                        <li>2.7.1 SUBMENU DE REPORTES</li>
                                                        <li>2.7.2 INCONSISTENCIA DE DATOS CRITICOS POR SEDE</li>
                                                        <li>2.7.3 PADRON ALFABETICO Y PADRON NUMÉRICO</li>
                                                        <li>2.7.4 REPORTE DE FAMILIARES – PENSION</li>
                                                        <li>2.7.5 INFORME MASIVO DE FICHA ESCALAFONARIA</li>
                                                        <li>2.7.6 INFORME INDIVIDUAL DE FICHA ESCALAFONARIA</li>
                                                        <li>2.7.7 VERIFICACION MASIVA DE DATOS PARA EL CALCULO TIEMPO DE SERVICIOS</li>
                                                        <li>2.7.8 VERIFICACION INDIVIDUAL DE DATOS PARA EL CALCULO TIEMPO DE SERVICIOS</li>
                                                        <li>2.7.9 CONSTANCIA ESCALAFONARIA</li>
                                                        <li>2.7.10 REPORTES PARA DEPURACION DE REGISTROS OBSERVADOS</li>
                                                        <ul>
                                                            <p>En vista que la carga de datos del escalafón se realiza en proceso batch (lotes) y muchas veces en los legajos no existen todos los datos requeridos en el sistema sin embargo se carga y luego
                                                                se emite listados con los registros observados para que mediante operaciones adicionales el área de personal logre recolectar todos los datos y registrarlo en el sistema SILEG.</p>
                                                            <li>2.7.10.1 REGISTROS QUE NO TIENEN FECHA DE INGRESOS AL MINISTERIO O ENTIDAD PRIVADA</li>
                                                            <li>2.7.10.2 REGISTROS QUE NO TIENEN FECHA DE NACIMIENTO</li>
                                                            <li>2.7.10.3 REGISTROS QUE NO TIENEN COPIA DE TITULO PROFESIONAL EN SU LEGAJO</li>
                                                            <li>2.7.10.4 REGISTROS QUE NO TIENEN NUMERO DE DOCUMENTO</li>
                                                            <li>2.7.10.5 REGISTROS QUE NO TIENEN CONDICION LABORAL</li>
                                                            <li>2.7.10.6 REGISTROS QUE NO REGISTRAN SEXO</li>
                                                        </ul>
                                                        <li>2.7.11 RELACION DE TRABAJADORES QUE CUMPLEN TIEMPO DE SERVICIOS</li>
                                                    </ul>
                                                    <li>2.8 MODULO DE UTILITARIOS</li>
                                                    <ul>
                                                        <li>2.8.1 DESCRIPCION</li>
                                                        <li>2.8.2 REINDEXAR LOS ARCHIVOS</li>
                                                        <li>2.8.3 BACKUP</li>
                                                        <li>2.8.4 RESTAURA</li>
                                                        <li>2.8.5 CALCULADORA</li>
                                                    </ul>
                                                    <li>2.9 ACERCA DEL SISTEMA</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CARACTERISTICAS DEL SISTEMA PCPE-PRODUCCIÓN -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. ANEXOS</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <ul>
                                                    <li>3.1 INSTRUCTIVO PARA EL LLENADO DEL FORMATO DE TRANSCRIPCION</li>
                                                    <li>3.2 RELACION DE ARCHIVOS O BASES DE DATOS DEL SISTEMA “SILEG"</li>
                                                    <li>3.3 RELACION DE TABLAS QUE USA EL SISTEMA “SILEG"</li>
                                                    <li>3.4 RELACION DE PROGRAMAS</li>
                                                    <li>3.5 ESTRUCTURA DE DATOS</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">4. REQUERIMIENTOS DE EQUIPOS DE COMPUTO Y SOFTWARE BASE PARA FUNCIONAMIENTO DEL SISTEMA “SILEG”</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <ul>
                                                    <li>4.1 REQUERIMIENTO DE EQUIPOS DE COMPUTO (HARDWARE)</li>
                                                    <p>El Sistema de Administración de LEGAJOS DE PERSONAL “SILEG” puede correr en una red o en un ambiente monousuario la configuración mínima de los equipos para el funcionamiento de este sistema es la siguiente:</p>
                                                    <ul>
                                                        <li>4.1.1 SERVIDOR (Configuración mínima)</li>
                                                        <ul>
                                                            <li>PROCESADOR: Intel(R) Xeon(R) CPU E3-1245</li>
                                                            <li>MEMORIA RAM: 16GB</li>
                                                            <li>DISCO DURO: 1T</li>
                                                            <li>MOUSE</li>
                                                            <li>ESTABILIZADOR DE VOLTAJE</li>
                                                            <li>LECTOR DE CD</li>
                                                        </ul>
                                                        <li>4.1.2 ESTACIONES DE TRABAJO (Configuración mínima)</li>
                                                        <ul>
                                                            <li>PROCESADOR: Intel® Core™ i3,i5,i7 y AMD</li>
                                                            <li>MEMORIA RAM: 4GB</li>
                                                            <li>DISCO DURO: 500GB</li>
                                                            <li>MOUSE</li>
                                                            <li>ESTABILIZADOR DE VOLTAJE</li>
                                                            <li>LECTOR DE CD</li>
                                                        </ul>
                                                        <li>4.1.3 IMPRESORAS.</li>
                                                        <ul>
                                                            <li>CUALQUIER TIPO</li>
                                                        </ul>
                                                        <li>4.1.4 RECOMENDACIÓN</li>
                                                        <ul>
                                                            <p>La configuración mencionada es mínima; sin embargo lo recomendable es que las estaciones de trabajo sean equipos Windows 7,8 y 10 de 4 MB de RAM, e impresora láser o Inyección de Tinta ; con
                                                                lo que se logrará un mejor perfomance, ya que el sistema trabaja en ambiente Windows.</p>
                                                        </ul>
                                                    </ul>
                                                    <li>4.2 CARACTERISTICAS DE PROGRAMACION (SOFTWARE)</li>
                                                    <ul>
                                                        <li>4.2.1 SISTEMA OPERATIVO</li>
                                                        <ul>
                                                            <li>4.2.1.1 PARA RED</li>
                                                            <p>Novell Netware 4.x ó Windows NT, o red Windows 98, Windows Server 2000, Windows XP correctamente instalado y configurado.</p>
                                                            <li>4.2.1.2 PARA LA ESTACION DE TRABAJO</li>
                                                            <p>Windows 98 o superior, correctamente instalado y configurado.</p>
                                                        </ul>
                                                        <li>4.2.2 LENGUAJE DE PROGRAMACION:</li>
                                                        <ul>
                                                            <li>El lenguaje de programación utilizado en este sistema, es VISUAL FOXPRO versión 6.0. Trabaja en modo multiusuario o monousuario (solo en una PC).</li>
                                                            <li>No necesita el compilador del Foxpro para ejecutar el sistema toda vez que el sistema SILEG esta en modo ejecutable (SILEG.EXE).</li>
                                                        </ul>
                                                    </ul>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 5. INVENTARIOS: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree">5. ADECUACIONES PARA LA PERSONALIZAR A LA REALIDAD DE CADA ENTIDAD O EMPRESA</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <p>CDSI, podrá efectuar las adecuaciones para los casos siguientes:</p>
                                                <ul>
                                                    <li>Una vez que terminaron depurara todos los datos del legajo de los trabajadores, se podrá excluir las opciones de los procesos batch y solamente activar los procesos interactivos para que quede una solución
                                                        optima en tiempo real.</li>
                                                    <li>Se podrá adecuar y/o hacer desarrollos complementarios para llegar a tener una solución ala medida de las necesidades de cada entidad pública o privada..</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- BARRA LATERAL DERECHO EXPERIENCIA PROFECIONAL -->

                </div>
            </div>
        </div>
    </div>
</div>