<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">SGCor</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active"><a routerLink="/dashboard/servicios">Nuestros Servicios</a></li>
                            <li class="breadcrumb-item active">SGCor</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                        <i class="ti-settings text-white"></i>
                    </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-md-12">
                        <!-- PANEL GENERAL -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title text-center">SISTEMA DE GESTION COMERCIAL DE EMPRESAS QUE REPRESENTAN A</h2>
                                <h3 class="text-center">TRANSNACIONALES <strong id="tituloRojo">“SGCor”</strong></h3>
                                <!-- GRUPO DE ITEM -->
                                <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1.0 CARACTERISTICAS GENERALES</a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <p>El objetivo principal del Sistema “SGCor” es registrar y controlar todos los documentos que procesa “LA EMPRESA” que representa en Perú a empresas Transnacionales, a fin de optimizar en la gestión y toma
                                                    de decisiones de los Directivos y trabajadores de la Empresa, Logrando ahorros significativos al racionalizar recursos humanos y costos y sobre todo brindando una eficiente relación con sus clientes
                                                    y representadas. </p>
                                                <p>
                                                    El Sistema “SGCor” registra información de Clientes de la Empresa, Representadas (Proveedores Transnacionales), Productos que comercializan las Representadas, así como todos los documentos (carta, fax, memos, ofertas, licitaciones, ordenes de compra)
                                                    emitidos por la empresa a los Clientes y Representadas y los documentos recibidos vía Fax o Internet, o documento físico que deben ser escaneados para cargar en el sistema SGCor. Así también permite
                                                    llevar el Control de los Pagos/Cobros por la Comercialización de Productos de las Representadas. Brinda una serie de Consultas que ahorran tiempo en la búsqueda de la información. SGCor para cumplir
                                                    su propósito interactúa con el procesador de textos WORD 2003 o superior y con SIDEKICK para WINDOWS, donde lleva el registro de Agendas y Notas privadas por cada usuario.
                                                </p>
                                                <p>
                                                    Con este sistema se trata de eliminar el uso de los documentos físicos y de tener grandes anaqueles con archivos de documentación y a la hora de buscar uno u otro documento no se ubica.
                                                </p>
                                                <p><strong>Los Gerentes de la Empresa, con el sistema SGCor pueden saber en tiempo real, en
                                            que situación se encuentra el cobro de sus comisiones por la venta o
                                            comercialización de uno u otra orden de compra. </strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2.0 BREVE DESCRIPCION DE LOS MODULOS COMPONENTES DEL SISTEMA</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <ul>
                                                                <li><strong>2.1 MODULO CLIENTES</strong></li>
                                                                <p>Se registran todos los clientes activos o potenciales, ingresando un Código, Razón Social, Dirección, Teléfonos, Email, .Responsables o Contactos de cada cliente, Sector y Actividad Económica
                                                                    del Cliente. Por cada Cliente se lleva el control de los documentos.
                                                                </p>
                                                                <ul>
                                                                    <li><strong>DOCUMENTOS:</strong></li>
                                                                    <p>Nuevo Registro (Generación de documento): Permite insertar un documento que será enviado al Cliente o recibido en la Empresa convirtiéndolo en un archivo de texto (en Word 2003). Este
                                                                        documento puede ser: Carta, Memorando, Fax, Ofertas, Mensajes de Internet, Documentos Recibidos o Licitaciones. El sistema automáticamente asigna el número correspondiente del documento,
                                                                        se deberá consignar la representada con la cual se ha asociado referenciado en el documento, la descripción del documento en forma breve y especificar si se está enviando o recibiendo
                                                                        el citado documento.</p>
                                                                    <li><strong>ORDENES DE COMPRA:</strong></li>
                                                                    <p>Permite consultar o modificar las órdenes de compra que se hayan generado por pedido del cliente seleccionado. El sistema nos muestra la relación de las últimas órdenes de compra solicitada
                                                                        por el cliente .</p>
                                                                    <li><strong>PRODUCTOS:</strong></li>
                                                                    <p>Permite consultar los productos que el cliente adquiere con mayor frecuencia durante las transacciones que realiza con la EMPRESA, posicionando el cursor en la opción Nuevo Registro en
                                                                        donde se listará una relación de los productos que ofrece la empresa y presionando luego la opción SELECCION DE PRODUCTOS para ser registrado. También se puede eliminar un producto
                                                                        seleccionado así como imprimirlo. </p>
                                                                    <li><strong>SELECCION:</strong></li>
                                                                    <p>Permite seleccionar y listar los documentos del cliente según el tipo en un período de fecha determinado indicando el inicio y final, posicionando el cursor en la opción ACEPTAR se dará
                                                                        inicio a la búsqueda de los documentos. Además se puede considerar la búsqueda de todos los documentos mediante la opción CONSIDERAR TODOS LOS TIPOS DE DOCUMENTOS.</p>
                                                                    <li><strong>RESPONSABLE:</strong></li>
                                                                    <p>Se ingresan los datos del responsable, sus nombres, cargo, números telefónicos;.Dirección Electrónica y el número de orden jerárquico para la visualización en la relación de contactos
                                                                        que tiene el cliente con la empresa o con la representada.</p>
                                                                    <li><strong>IMPRIMIR (REGISTRO DE CLIENTES):</strong></li>
                                                                    <p>Permite listar la relación de todos o seleccionar un bloque determinado de clientes que se encuentran grabados en la Base de Datos, presionando la opción IMPRIMIR se dará inicio a la
                                                                        impresión en una ventana Previa Se presentará las siguientes características: código, razón social del cliente, sector-1 (actividad económica) y sector-2, dirección del cliente.
                                                                    </p>
                                                                    <li><strong>CAMBIO DE CLAVE DEL CLIENTE:</strong></li>
                                                                    <p>Esta opción se utilizará para cambiar la clave actual del cliente por uno nuevo debido a cambio de Razón Social. Se selecciona la opción en el Submenú de clientes y luego nos muestra
                                                                        el Gráfico 2.4 en donde se digitará el código antiguo y el código nuevo y luego ACEPTAR. </p>
                                                                </ul>
                                                                <li><strong>2.2 MODULO REPRESENTADAS ( EMPRESAS TRANSNACIONALES)</strong></li>
                                                                <p>Este módulo es casi similar al módulo de clientes, con la diferencia deque permite procesara datos de las Representadas o empresas transnacionales que están en el extranjero q y que aquí
                                                                    en el Perú lo esta representando para hacer la comercialización de los productos que fabrican en el extranjero y que son vendidos a los clientes en Perú.</p>
                                                                <p>
                                                                    En este módulo existe opciones para registrar los convenios que tenga la Empresa con cada uno de las Representadas, básicamente almacena el porcentaje de comisión definida sea precios FOB, CIF u otro. Con el cual le permite calcular el monto de comisión
                                                                    que cobrará por cada venta a quien Perú.
                                                                </p>
                                                                <li><strong>2.3 MODULO PRODUCTOS</strong></li>
                                                                <p>Se visualiza la relación de Productos que existen en la Base de Datos y permite Crear, Modificar, Eliminar e Imprimir productos.</p>
                                                                <ul>
                                                                    <li><strong>LISTA DE PRODUCTOS:</strong></li>
                                                                    <p>Permite imprimir la Lista de Productos existentes en la Base de Datos de la Empresa indicando el inicio y fin de la misma, luego posicionará el cursor del Mouse en la opción ACEPTAR para
                                                                        dar comienzo a la impresión.</p>
                                                                    <li><strong>IMPORTACIONES:</strong></li>
                                                                    <p>Permite registrar las importaciones de los productos que adquiere el o los cliente de la Empresa o cualquier otro cliente peruano o extranjero. Lo que se trata es crear un archivo estadístico.
                                                                        Se debe ingresar el código del producto, año y mes.</p>
                                                                </ul>
                                                                <li><strong>2.4 MODULO ÓRDENES DE COMPRA</strong></li>
                                                                <p>Este módulo permite el registro de una Orden de Compra debiéndose ingresar el código de la Representada y automáticamente el sistema genera el número de la Orden de Compra, debiéndose ingresar
                                                                    luego el código del cliente y posicionar el cursor del Mouse en la opción ACEPTAR y dar CLICK para generar la Orden de Compra creada.</p>
                                                                <p>A continuación se mostrará el panel 6.1 en donde deberá ingresar los datos siguientes: Referencia, tipo de moneda, descripción de embarque, descripción de facturación, descripción de embalaje,
                                                                    forma de pago, part. Arancelaria, marca y reseña (breve).</p>
                                                                <ul>
                                                                    <li><strong>DOCUMENTOS:</strong></li>
                                                                    <p>Nos muestra un listado de los documentos remitidos al cliente con referencia a la Orden de Compra solicitada. Para visualizar el texto de los documentos se debe posicionar el cursor del
                                                                        Mouse en éste y dar doble CLICK.</p>
                                                                    <li><strong>SITUACION:</strong></li>
                                                                    <p>Nos muestra la situación de la Orden de Compra, se debe actualizar cada vez que haya un embarque. Visualiza el importe, forma de pago, reseña, número de embarque, banco emisor, banco
                                                                        corresponsal, si hay preaviso, fecha de embarque, fecha de llegada, factura por el importe total del embarque, fecha de solicitud, compañía, etc. También permite agregar nuevos embarques,
                                                                        modificar o borrar embarques existentes y actualizar datos de cartas de crédito</p>
                                                                    <li><strong>PRODUCTOS:</strong></li>
                                                                    <p>Muestra un listado de los productos existentes en la base de datos y que este relacionado con la orden de compra.</p>
                                                                    <li><strong>DETALLE DE ORDEN DE COMPRA:</strong></li>
                                                                    <p>Permite registrar los productos a adquirir mediante esta Orden de Compra y tiene los datos siguientes: cantidad, descripción del producto, precio unitario, precio total, así como el importe
                                                                        y flete a pagar. Se deberá posicionar el cursor del Mouse en la opción ACEPTAR para grabar los datos.</p>
                                                                    <li><strong>IMPRIMIR:</strong></li>
                                                                    <p>Permite imprimir la Orden de Compra debiéndose posicionar el cursor del Mouse en la opción ACEPTAR.</p>
                                                                    <li><strong>ACTUALIZACION DEESTADOS DE ORDEN DE COMPRA Y SALDOS DE ENTREGA</strong></li>
                                                                </ul>
                                                                <li><strong>MODULO DE GESTION</strong></li>
                                                                <p>Este módulo permite realizar la gestión de los pagos o comisiones por las órdenes de compra giradas a las Representadas. Así mismo permite actualizar el porcentaje de comisión y los bancos
                                                                    con los cuales se realizan las transacciones. Al módulo de Gestión de Ordenes de Compra solo tienen acceso las personas autorizadas ingresando su user y password específicamente para
                                                                    este módulo.</p>
                                                                <ul>
                                                                    <li><strong>GESTION DE ÓRDENES DE COMPRA:</strong></li>
                                                                    <p>Para realizar el proceso de gestión en este módulo se deberá ingresar el código de la Representada y luego posicionar el cursor del Mouse en la opción ACEPTAR.</p>
                                                                    <p>A continuación se muestra una relación de Ordenes de Compra que ha realizado la representada seleccionada, visualizándose la fecha, número de orden de compra, cliente, tipo de moneda,
                                                                        importe de orden de compra, comisión calculada, comisión recibido a cuenta, fecha recibido y situación de los pagos: CP= Cobro Parcial, OK= Cobrado Totalmente.</p>
                                                                    <p>Luego se deberá seleccionar la orden de compra al cual se quiere actualizar los pagos la misma que se realizarán dando doble clic en el registro o posicionando el cursor del Mouse en
                                                                        la opción de EMBARQUES. El sistema visualizará el formulario, siempre que haya al menos un EMBARQUE, en el cual se muestran los siguientes datos: fecha, número de factura, importe,
                                                                        comisión real, comisión recibido, saldo y fecha de cobro. </p>
                                                                    <p>Presenta las opciones Orden de Compra para visualizar la orden de compra y Los Pagos para registrar los pagos que se realizan. Es necesario actualizar al menos un embarque por el módulo
                                                                        de Orden de Compra para que se pueda registrar pagos.</p>
                                                                </ul>
                                                                <li><strong>2.6 MODULO UTILITARIOS</strong></li>
                                                                <p>Este módulo permite definir los códigos de tipo de documento, seleccionar documentos, mensajería, configurar el destino de archivos, invocar el Word y hacer el mantenimiento de password de
                                                                    los usuarios autorizados a usar el Sistema.</p>
                                                                <ul>
                                                                    <li><strong>DOCUMENTOS:</strong></li>
                                                                    <p>En este módulo se registran los tipos de documentos con las siguientes características: código, nombre y tipo permitiendo crear, modificar, eliminar e imprimir. Deberá posicionar el cursor
                                                                        del Mouse en la opción con la cual trabajará y luego seleccionar ACEPTAR que se encuentra dentro de cada opción para grabar o eliminar los datos Cuando seleccione la opción Modificar
                                                                        solo lo realizará en el nombre y tipo.</p>
                                                                    <li><strong>SELECCION DE DOCUMENTOS:</strong></li>
                                                                    <p>Permite seleccionar un tipo de documento (Carta, Memorandums, Fax, Ofertas, etc.) el cual visualizará los documentos que se han enviado o recepcionado durante el intervalo de fechas que
                                                                        se determinó sin importar a que cliente o representada se emitió. Se podrá seleccionar todos los tipos de documentos marcando en la opción CONSIDERAR TODOS LOS TIPOS DE DOCUMENTOS,
                                                                        luego posicionar el cursor del Mouse en la opción ACEPTAR para dar inicio a la búsqueda).</p>
                                                                    <li><strong>CONFIGURACION:</strong></li>
                                                                    <p>Permite configurar las rutas o caminos en donde se encuentran los archivos con los cuales trabajará el sistema, así como en donde se almacenará los documentos que serán enviados o recepcionados,
                                                                        las Bases de Datos, y las rutas de acción de las opciones que se encuentran en el Menú Principal.</p>
                                                                    <li><strong>PASSWORD:</strong></li>
                                                                    <p>En este módulo se realiza el mantenimiento de passwords: Ingreso, Modificación, Eliminación, Consulta, con el cual el usuario tendrá acceso para ingresar al Sistema (Ver Mapa 8.6). Solo
                                                                        el Supervisor o Administrador de la Red se encargará de dar los niveles de acceso al Sistema.</p>

                                                                </ul>
                                                                <li><strong>2.7 ACCIONES CONEXAS AL SISTEMA</strong></li>
                                                                <ul>
                                                                    <li><strong>INGRESO DE DOCUMENTOS AL SISTEMA DESDE INTERNET:</strong></li>
                                                                    <ul>
                                                                        <li>La recepción de documentos vía Correo Electrónico lo realiza el programa OUTLOOK O el EXCHANGE de Microsoft que debe estar instalado en la Microcomputadora asignada para Internet.
                                                                            El documento que llega esta en la Bandeja de Entrada.</li>
                                                                        <li>El usuario encargado de hacer este trabajo, debe recoger todos los mensajes (documentos) y debe desplegar uno a uno a fin de tomar nota quien envía y definir una pequeña descripción
                                                                            del documento, que será necesario más adelante.</li>
                                                                        <li>Luego debe grabar en el subdirectorio F:\DOCTO|INTER, mediante la opción GUARDAR COMO y con el formato solo Texto (ASCII).</li>
                                                                        <li>En la misma microcomputadora una vez concluido debe invocar el sistema SGCor e ingresar con el PASSWORD designado a fin de que el sistema detecte que hay documentos que llegaron vía
                                                                            Internet o Faximil o Escanearon y están almacenados en el subdirectorio INTER. Debe tener cuidado que WORD este cargado en memoria.</li>
                                                                        <li>Luego de unos 30 segundos el sistema desplegará el panel que indica que hay un documento, En este momento el usuario debe digitar el código del cliente o representada que esta enviando
                                                                            el documento, luego el sistema automáticamente despliega el panel para indicar el tipo de documento (RD: Documento Recibido) a que cliente o representada esta asociado, poner
                                                                            el indicador en R de recibido y escribir la descripción del documento. Finalmente aceptará para grabar el Registro del Documento, y si hay más códigos asociados.</li>
                                                                        <li>Una vez concluido de registrar los datos del sistema transfiere el Control al Word quien pide CONVERTIR el formato Texto a formato Word se acepta y así el documento estará registrado
                                                                            en el Sistema y el archivo se copiará al Subdirectorio H:\DOCTO\EMPRE y se borrará del subdirectorio INTER.</li>
                                                                        <li>) En el caso que haya llegado 2 ó más documentos entonces debe repetir los pasos (d) hasta (f) según el número de documentos a ser ingresados en el sistema.</li>
                                                                    </ul>
                                                                    <li><strong>DOCUMENTOS A SER ENVIADOS POR INTERNET:</strong></li>
                                                                    <ul>
                                                                        <li>Crear el documento según el cliente o representada a quien se enviará. El documento debe ser escrito tratando en lo posible de que no tenga acentos ya que cuando se envía, los formatos
                                                                            utilizados en el camino a veces son diferentes razón por la que cuando hay caracteres con acentos llega convertido en caracteres especiales.</li>
                                                                        <li>Una vez concluido la creación del documento, y almacenado en el sistema SGCor entonces la secretaria encargada e ingresara al programa Outlook y adjuntada el documento al mensaje
                                                                            creado y lo enviará al cliente o representada correspondiente.
                                                                        </li>
                                                                    </ul>
                                                                    <li><strong>OBTENCION DE RESPALDOS (BACKUP) DEL SISTEMA AYBWIN:</strong></li>
                                                                </ul>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CARACTERISTICAS DEL SISTEMA PCPE-PRODUCCIÓN -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3.0 REQUERIMIENTO DE EQUIPOS DE COMPUTO y SOFTWARE BASE</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <p>El Sistema "SGCor" puede correr en una red o en un ambiente monousuario la configuración mínima de los equipos para el funcionamiento de este sistema es la siguiente:</p>
                                                            <ul>
                                                                <li>El Servidor debe ser como mínimo un Microcomputador con Procesador PENTIUM.</li>
                                                                <li>IV de 2.4 GHz, memoria RAM de: 1 GB, memoria CACHE: 512 KB Disco duro de 40 GB, la configuración real depende de la cantidad de transacciones que tiene cada empresa.</li>
                                                                <li>Las Estaciones de Trabajo puede ser un PENTIUM IV de 1.8 GHz, memoria RAM de: 768 MG, memoria CACHE: 512 KB Disco duro de 40 GB.</li>
                                                                <li>En cuanto a Sistema Operativos : El Servidor debe tener el Windows Server 2003 ó Superior. Y para las Estaciones de trabajo el S.O. WINDOWS 7,8 y 10.</li>
                                                                <li>El lenguaje de programación utilizado en este sistema es ORACLE DEVELOPER 6i y Base de Datos ORACLE 10G y trabaja en Redes Windows Server 2003 ó superior. Por ello La empresa debe adquirir
                                                                    las licencias de Base de Datos Oracle 10G ( Standard Edition One).</li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PRINCIPALES PROCESOS DEL SISTEMA PCPE-PRODUCCIÓN: -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingCuatro">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">4.0 COMENTARIOS FINALES </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <p>El sistema SGCor procesa datos en plataforma cliente servidor y utiliza los correos electrónicos y el Internet para interactuar la Empresa con sus clientes y Representadas. Ahora si el Cliente desea procesar
                                                    datos en un ambiente Web, CDSI puede hacer el desarrollo adicional de acuerdo a las necesidades del cliente pudiendo migrarlo 100% a una plataforma Web usando Jdeveloper o Java y solo de los módulos
                                                    que requiera el cliente; siempre usando Base de Datos Oracle, toda vez que resulta mas económico que otros manejadores de base de datos.. </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- BARRA LATERAL DERECHO EXPERIENCIA PROFECIONAL -->

                </div>
            </div>
        </div>
    </div>
</div>