<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Isaneg con Facturación Electrónico</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Facturación Electrónico</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <!-- Slider de Imagenes -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">

                        <!-- Slide Two - Set the background image for this slide in the line below -->
                        <div class="carousel-item active">
                            <!-- <a href="?pagina=#">-->
                            <img class="img-thumbnail imgRes" src="./assets/images/uno.png" />
                            <!-- </a> -->
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                        <!-- Slide Three - Set the background image for this slide in the line below -->
                        <div class="carousel-item">
                            <!-- <a href="?pagina=#"> -->
                            <img class="img-thumbnail imgRes" src="./assets/images/dos.png" />
                            <!-- </a> -->
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fa fa-arrow-circle-left fa-3x pasar" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fa fa-arrow-circle-right fa-3x pasar" aria-hidden="true"></i>
                    </a>
                </div>
                <!--FIN Slider de Imagenes -->
                <br>
                <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="card">

                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">SISTEMA INTEGRADO <strong class="cdsi">ISANEG.M-ERP</strong>® con FACTURACION ELECTRONICA PARA <strong class="cdsi">EMPRESAS MYPES (MICRO EMPRESAS)</strong>, QUE FACTUREN HASTA  150 UITs ANUALES:</a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-body">
                                <p><strong>Constituido de 6 Sub sistemas o Módulos siguientes: </strong></p>
                                <p class="text-justify">Compras básico, Inventarios o Almacén, Puntos de Venta, Cuentas por Cobrar (CxC), Cuentas por Pagar (CxP), Tesorería (6 módulos).</p>
                                <p class="text-justify">El Sistema Integrado ISANEG.M-ERP para Microempresas, Para efectuar la facturación electrónica usa el Aplicativo SFS de SUNAT con UBL 2.1 (sin costo) para la Generación de archivos de textos (TXT), Validación y Envío a
                                    SUNAT, que se instala en una PC dentro de la empresa cliente. CDSI brinda la consultoría para la Instalación, Configuración, Capacitación y Puesta en Marcha del sistema ISANEG-ERP y del aplicativo SFS-SUNAT.</p>
                                <p class="text-justify"><strong>Plataforma de Procesamiento de Datos del Sistema Integrado ISANEG-ERP en PYMES:</strong></p>
                                <ul>
                                    <li class="text-justify">M1. <strong class="cdsi">NUBE-WEB, El Sistema  ISANEG.M-ERP, Versión NUBE-WEB </strong> alojado en un Servidor Potente en la NUBE, contiene los Módulos de Punto de Venta e Inventarios que permite administrar una tienda,
                                        donde deben tener Instaladas las PCs y el servicio de Internet con un buen ancho de banda. Se cobra por la Carga e Implantación del Sistema y se alquila las Licencias de uso por un tiempo mínimo de 6 meses. Recomendable
                                        para cualquier Mype. <a href="#" data-toggle="modal" data-target="#g1-2"> Ver gráfico 1.2 </a> o <a href="#" data-toggle="modal" data-target="#g2-1"> Ver gráfico 2.1 </a> </li>
                                    <li class="text-justify">M2. <strong class="cdsi">CLIENTE-SERVIDOR (Red Local) ISANEG.M-ERP</strong>,permite la administración y control de todas las áreas y procesos de la Microempresa Mype, procesando datos en plataforma Cliente-Servidor,
                                        es decir en Redes Locales que puede tener desde 2 Pc hasta 10 PCs conectadas a un Servidor Local o PCs I5 o superior en la misma Mype Cliente. Se vende con programas ejecutables y con Licencia de Uso Perpetuo.
                                        <a href="#" data-toggle="modal" data-target="#g1-1"> Ver gráfico 1.1 </a>
                                    </li>
                                    <li class="text-justify">M3: <strong class="cdsi">CLIENTE-SERVIDOR en Sede Central y WEB en Tiendas</strong> El Sistema Integrado ISANEG.M-ERP Versión WEB para Mypes también procesa datos en ambiente Internet teniendo el servidor en su sede
                                        central e integrando sus puntos de venta (tiendas) por internet (Red Pública de Datos) puede tener por cada tienda entre 1 PCs a 4 PCs o usuarios conectados a la vez, y pueden tener hasta 5 tiendas. Se puede aumentar
                                        el número de usuarios y tiendas según contrato. Se requiere un buen servicio de Internet en su sede central. Se vende con programas ejecutables y con Licencia de uso perpetuo. <a href="#" data-toggle="modal" data-target="#g2-1"> Ver gráfico 2.1 </a>                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">

                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">SISTEMA INTEGRADO <strong class="cdsi">ISANEG.P-ERP</strong>® CON FACTURACION ELECTRONICA PARA <strong class="cdsi">EMPRESAS PYMES ( PEQUEÑAS EMPRESAS)</strong>, QUE FACTUREN ENTRE 150 UITs. HASTA 1700 UITs. ANUALES)</a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body">
                                <p><strong>Constituido de 10 Sub sistemas o Módulos siguientes:</strong></p>
                                <p class="text-justify">Compras, Importaciones, Inventarios o Almacén, Facturación a Mayoristas o Consignatarios, Puntos de Venta, Planillas de Trabajadores, Cuentas por Cobrar (CxC), Cuentas por Pagar (CxP), Tesorería, Contabilidad, (10 módulos).</p>

                                <p class="text-justify">El Sistema Integrado ISANEG.P-ERP para Pymes, usa el Sistema SFS de SUNAT UBL 2.1 (sin costo) para la Generación de archivos de textos (TXT), Validación y Envío a SUNAT, que se instala en un servidor de facturación electrónica
                                    o una PC dentro de la empresa cliente. CDSI brinda la consultoría para la Instalación, Configuración, Capacitación y Puesta en Marcha del sistema ISANEG-ERP y del aplicativo SFS-SUNAT.</p>

                                <p><strong>Plataforma de Procesamiento de Datos del Sistema Integrado ISANEG-ERP en PYMES:</strong></p>
                                <ul>
                                    <li class="text-justify">P1. <strong class="cdsi">NUBE-WEB, El Sistema  ISANEG.P-ERP, Versión NUBE-WEB </strong> alojado en un Servidor Potente en la NUBE, contiene los Módulos de Punto de Venta e Inventarios que permite administrar un Punto
                                        de venta o tienda, donde deben tener Instaladas las PCs y el servicio de Internet con un buen ancho de banda. Se cobra por la Implantación del Sistema y se alquila las licencias de uso por un tiempo mínimo de 6
                                        meses. Recomendable para Pymes que facturen hasta 600 UITs al año.</li>
                                    <li class="text-justify">P2. <strong class="cdsi">CLIENTE-SERVIDOR (Red Local) ISANEG.P-ERP</strong> ,permite la administración y control de todas las áreas y procesos de la empresa PYME, procesando datos en plataforma Cliente-Servidor, es
                                        decir en Redes Locales que puede tener desde 10 Pc hasta 50 Pc conectadas a un Servidor Local instalados en el Centro de Cómputo de la misma Empresa Cliente. Se vende con programas ejecutables y con Licencia de
                                        Uso Perpetuo.<a href="#" data-toggle="modal" data-target="#g1-1"> Ver gráfico 1.1 </a> </li>
                                    <li class="text-justify">P3: <strong class="cdsi">CLIENTE-SERVIDOR en Sede Central y WEB en Sucursales</strong> El Sistema Integrado ISANEG.P-ERP Versión WEB para Pymes también procesa datos en ambiente Internet teniendo el servidor en su sede
                                        central e integrando sus puntos de venta ( tiendas) por internet (Red Pública de Datos) puede tener por cada tienda entre 2 PCs a 6 PCs o usuarios conectados a la vez, y pueden haber n sucursales. Se puede aumentar
                                        el número de usuarios según contrato. Se requiere un buen servicio de Internet en su sede central. Se vende con programas ejecutables y con Licencia de uso perpetuo. <a href="#" data-toggle="modal" data-target="#g2-1"> Ver gráfico 2.1 </a>                                        </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">SISTEMA INTEGRADO <strong class="cdsi">ISANEG-ERP</strong>® con FACTURACION ELECTRONICA, para <strong class="cdsi">MEDIANAS Y GRANDES EMPRESAS</strong>, QUE FACTUREN MAS DE 1700 UITs ANUALES.</a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                                <p><strong>Constituido  de 15 Sub sistemas o Módulos siguientes: </strong></p>
                                <p class="text-justify">Compras, Importaciones, Inventarios o Almacén, Promoción, Facturación a Mayoristas o Consignatarios, Puntos de Venta, Incentivos, Activos Fijo, Planillas de Trabajadores, Cuentas por Cobrar (CxC), Cuentas por Pagar (CxP),
                                    Tesorería, Contabilidad, SIG-GESTION. (14 módulos)</p>
                                <p class="text-justify">Sistema PCPROD para el Planeamiento y Control de la Producción Editorial, desarrollado para empresas Editoriales o Imprentas. Para otros sectores se deberá desarrollar a medida en base el enfoque de solución del sistema
                                    PCPROD (total 15 Módulos)</p>
                                <p class="text-justify">El Sistema Integrado <strong class="cdsi">ISANEG-ERP</strong> tiene integradas todas las funcionalidades para la Facturación Electrónica SUNAT UBL 2.1, sea interactuando con el Sistema de Conversión XML, o generación de
                                    Archivos de textos (TXT), Validación y Envío a SUNAT, por Software de FE de empresa tales como TCI, ACEPTA. EFACT, DIGIFLOW, Etc. Que se instala en un servidor de facturación electrónica dentro de la empresa cliente.</p>
                                <p><strong>Plataformas de Procesamiento de Datos del Sistema Integrado ISANEG-ERP:</strong></p>
                                <ul>
                                    <li class="text-justify">G1. <strong class="cdsi">CLIENTE-SERVIDOR (Red Local) ISANEG.P-ERP</strong>, permite la administración y control de todas las áreas y procesos de la empresa, procesando datos en plataforma Cliente-Servidor, es decir
                                        en Redes Locales que puede tener desde 10 Pc hasta 200 Pc conectadas a un Servidor Local instalados en el Centro de Cómputo de la misma Empresa Cliente. Se vende con programas ejecutables o fuentes y con Licencia
                                        de Uso Perpetuo según contrato.<a href="#" data-toggle="modal" data-target="#g1-1"> Ver gráfico 1.1 </a></li>
                                    <li class="text-justify">G2: <strong class="cdsi">CLIENTE-SERVIDOR en Sede Central y WEB en Sucursales </strong>El Sistema Integrado ISANEG-ERP Versión WEB para Medianas y Grandes Empresas también procesa datos en ambiente Internet teniendo
                                        el servidor en su sede central e integrando sus puntos de venta (tiendas) por internet (Red Pública de Datos). Puede tener por cada tienda entre 5 PCs a 10 PCs o usuarios conectados a la vez, y pueden tener hasta
                                        15 Puntos de Venta (tiendas). Se puede aumentar el número de usuarios según contrato. Se requiere un buen servicio de Internet en su sede central. Se vende con programas ejecutables o fuentes y con Licencia de uso
                                        perpetuo según contrato.<a href="#" data-toggle="modal" data-target="#g2-1"> Ver gráfico 2.1 </a></li>

                                </ul>

                            </div>
                        </div>
                    </div>


                </div>

                <!-- **************************** MODALES **************************** -->
                <!-- GRAFICO 1.1-->
                <div class="modal fade" id="g1-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title titulo" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
                            </div>
                            <div class="modal-body">
                                <img src="./assets/images/gra1-1.png" alt="Cinque Terre" width="100%" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="g1-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title titulo" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="./assets/images/gra1-2.png" alt="Cinque Terre" width="100%" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="g2-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title titulo" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="./assets/images/gra2-1.png" alt="Cinque Terre" width="100%" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>