<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Nuestros Productos</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active">Nuestros Productos</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="/dashboard/consulta-especial">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/factura-electronica.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">Facturación Electronica</h3>
                        <p class="text-justify">Es el tipo de comprobante de pago denominado FACTURA, emitido a través del sistema de emisión electrónica desarrollado desde los sistemas del contribuyente. Mediante el Sistema de Emisión Electrónica desde los sistemas desarrollados
                            por el contribuyente, se emiten también las Notas de Débito y Crédito vinculadas a la Factura Electrónica desde el Contribuyente.</p>
                        <a class="btn btn-primary" routerLink="/dashboard/consulta-especial">Descripción</a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Two -->
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="sgcor">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/Iteracion_SAFE-ERP3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">iSANEG ERP</h3>
                        <p class="text-justify">Sistema ERP para la Gestión Administrativa y Financiera de una Empresa; es un sistema de desarrollo dinámico para la adecuación a medida de las necesidades de la empresa. Cuenta con los módulos de Importaciones, Punto de Venta,
                            Promoción, Compras, Inventarios, Facturación, Cuentas por Pagar, Cuentas por Cobrar, Tesorería (Caja-Banco), Contabilidad, Activo Fijo, Incentivos, Planiillas, Presupuesto, Producción y SIG-Gestión. </p>
                        <a class="btn btn-primary" routerLink="sgcor">Descripción</a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Three -->
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="/dashboard/servicios/pcpe_produccion">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/produc.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">PCPE-PRODUCCION</h3>
                        <p class="text-justify">Sistema de Planeamiento y Control de la Producción Editorial, procesan datos interactuando con modulos del Sistema integrado iSANEG ERP, especialmente para admninistrar los procesos de producción editorial de Imprentas o empresas
                            Editora.
                        </p>
                        <a class="btn btn-primary" routerLink="/dashboard/servicios/pcpe_produccion">Descripción</a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Four -->
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="/dashboard/servicios/pcpe_sileg">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/sileg.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">SILEG</h3>
                        <p class="text-justify">Sistema de Legajos del Personal.</p>
                        <a class="btn btn-primary" routerLink="/dashboard/servicios/pcpe_sileg">Descripción</a>
                    </div>
                </div>
                <hr>
                <!-- Project Four -->
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="/dashboard/servicios/pcpe_sgcor">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/sgcor.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">SGCor</h3>
                        <p class="text-justify">Sistema de Gestión Comercial, interactuando con clientes, productos y proveedores. Usado por Empresas Peruanas que son representantes de Ventas de Empresas Transnacionales. </p>
                        <a class="btn btn-primary" routerLink="/dashboard/servicios/pcpe_sgcor">Descripción</a>
                    </div>
                </div>

                <!-- Project Four -->
                <div class="row">
                    <div class="col-md-7">
                        <a routerLink="/dashboard/servicios/pcpe_sgdi">
                            <img class="img-fluid rounded mb-3 mb-md-0 imgPro" src="./assets/images/sgdi.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3 class="titulo">SGDi</h3>
                        <p class="text-justify">Sistema de Gestión Documentaria de una entidad Pública o Privada, los documentos son escaneados en la Oficina de Trámite Documentario y a partir de ahí circula en la Red Local de Oficina en oficina de la entidad e interactúa por
                            internet con las sucursales de la entidad y con otras entidades o personas externas que presenten un expediente o solicitud, es totalmente versátil y muy útil para llevar el control de toda la documentación que usa la entidad
                            en forma electrónica, tratando de lograr cero papeles.</p>
                        <a class="btn btn-primary" routerLink="/dashboard/servicios/pcpe_sgdi">Descripción</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>