<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">CONSULTORIA EN INVESTIGACION DE OPERACIONES</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active text-">Cconsultoria en Investigación de Operaciones</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>

                <!-- CUERPO -->
                <div class="row">
                    <!-- Imagen -->
                    <div class="col-md-12">
                        <img class="img-fluid rounded" src="./assets/images/con_inv_ope.png" alt="">
                    </div>
                    <!-- DESCRIPCION -->
                    <div class="col-md-12">
                        <h2 class="titulo">CONSULTORIA EN INVESTIGACION DE OPERACIONES</h2>
                        <p>Investigación de Operaciones y Sistemas para Soporte de Decisiones.</p>
                        <p> <strong class="cdsi">CDSI</strong> mediante su División de Investigación de Operaciones y Sistemas, da solución a problemas de organizaciones públicas o privadas que lo solicitan usando las herramientas siguientes:</p>
                        <ul>
                            <li><strong>Optimizacíon medieante modelos matemáticos.</strong></li>
                            <p>La optimización le ayuda a encontrar la solución que le brinde los mejores resultados, le da la utilidad más alta o el mejor resultado con el mínimo costo. Para la búsqueda de soluciones formulamos modelos matemáticos de programación:
                                Lineal, No lineal, Dinámica, donde involucramos una serie de variables de tiempo, dinero, maquinaria, personal, inventario y otras mas.</p>
                            <p>Normalmente los problemas reales contienen decenas, o centenas o miles de variables y ecuaciones que obligan usar software especializado tales como LINGO ( Lenguaje de modelamiento de Optimización y Solver), LINDO API ( que
                                es un motor de optimización ) MATLAB, WHAT´S BEST I ( permite interactuar con hojas de cálculo).</p>
                            <li><strong>Simulación de Sistemas</strong></li>
                            <p>Es una técnica que consiste en estudiar un sistema real a través de un modelo de computador, el cual refleja los aspectos críticos del proceso bajo análisis, como son la variabilidad e interdependencia entre sus elementos y
                                dinámica en el tiempo, permitiendo evaluar el desempeño del sistema actual y facilitando la experimentación de diferentes alternativas de mejoramiento así como cambios en los parámetros de operación visualizando su impacto.
                                Las técnicas analíticas de simulación proveen una poderosa herramienta para proceso de reingeniería, diagnóstico operacional, reducción de costos, benchmarking, evaluación de políticas, mejoramiento continuo, etc. </p>
                            <p>Los Principales Software de simulación por su versatilidad son : Processmodel y Promodel.</p>
                            <li><strong>Software para la Toma de Decisiones</strong></li>
                            <p>La mayoría de consultoría se elaboran un sistema aplicativo sea en .NET u otra herramienta y apoyado por el modelo de optimización o de simulación formulado se deja instalado en la oficina del Cliente, de tal manera que le
                                sirva para la toma de decisiones cotidianas o estratégicas. Constituyéndose en la herramienta principal para la gestión empresarial.</p>
                            <p>Nuestros Consultores pertenecen a la Sociedad de IO www.informs.org donde podrá hallar información valiosa sobre Investigación de Operaciones.</p>

                        </ul>
                        <h3 class="titulo">PRINCIPALES TRABAJOS REALIZADOS</h3>
                        <ul>
                            <li><strong>Evaluación de la Prestación de Servicios de Consulta externa del Hospital Edgardo Rebagliati Martins .</strong></li>
                            <p>El servicio consistió en analizar la situación actual del servicio de Consulta externa, para lo cual evaluamos las citas que se daban, las colas que a diario se presentaban, el tiempo de atención o consulta que usaban los médicos.
                                Al final el modelo recomendó cambiar la forma de dar citas y se optimizó el tiempo de atención médica. Resultando la sistematización o informatización de la consulta externa. .Se aplico un mejoramiento continuo de procesos.</p>
                            <li><strong>Participación en la Evaluación y programación Financiera de ESSALUD</strong></li>
                            <p>El servicio consistió en apoyar la evaluación de los recursos económicos financieros de las diferentes leyes que administraba ESSALUD, así como los egresos en los proyectos de inversión y se han elaborado modelos de optimización
                                que nos permitió dimensionar el proyecto y ver su impacto en cada región se tenía construir o instalar dicho proyecto.</p>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>