<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">CONSULTORIA EN INVESTIGACION DE OPERACIONES</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a>
                            </li>
                            <!-- <li class="breadcrumb-item">pages</li> -->
                            <li class="breadcrumb-item active text-">Cconsultoria en Investigación de Operaciones</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
                            <i class="ti-settings text-white"></i>
                        </button>
                    </div>
                </div>

                <!-- CUERPO -->
                <div class="row">
                    <!-- Imagen -->
                    <div class="col-md-12">
                        <img class="img-fluid rounded" src="./assets/images/mining.png" alt="">
                    </div>
                    <!-- DESCRIPCION -->
                    <div class="col-md-12">
                        <h2 class="titulo">CONSULTORIA EN INVESTIGACION DE OPERACIONES</h2>
                        <p>Investigación de Operaciones y Sistemas para Soporte de Decisiones.</p>
                        <p> <strong class="cdsi">CDSI</strong> mediante su División de Investigación de Operaciones y Sistemas, da solución a problemas de organizaciones públicas o privadas que lo solicitan usando las herramientas siguientes:</p>
                        <ul>
                            <li><strong><strong>Optimizacíon mediante modelos matemáticos</strong></strong>
                            </li>
                            <p>La optimización le ayuda a encontrar la solución que le brinde los mejores resultados, le da la utilidad más alta o el mejor resultado con el mínimo costo. Para la búsqueda de soluciones formulamos modelos matemáticos de programación:
                                Lineal, No lineal, Dinámica, donde involucramos una serie de variables de tiempo, dinero, maquinaria, personal, inventario y otras mas.</p>
                            <p>Normalmente los problemas reales contienen decenas, o centenas o miles de variables y ecuaciones que obligan usar software especializado tales como LINGO ( Lenguaje de modelamiento de Optimización y Solver), LINDO API ( que
                                es un motor de optimización ) MATLAB, WHAT´S BEST I ( permite interactuar con hojas de cálculo).</p>
                            <li><strong><strong>Simulación de Sistemas</strong></strong>
                            </li>
                            <p>Es una técnica que consiste en estudiar un sistema real a través de un modelo de computador, el cual refleja los aspectos críticos del proceso bajo análisis, como son la variabilidad e interdependencia entre sus elementos y
                                dinámica en el tiempo, permitiendo evaluar el desempeño del sistema actual y facilitando la experimentación de diferentes alternativas de mejoramiento así como cambios en los parámetros de operación visualizando su impacto.
                                Las técnicas analíticas de simulación proveen una poderosa herramienta para proceso de reingeniería, diagnóstico operacional, reducción de costos, benchmarking, evaluación de políticas, mejoramiento continuo, etc. </p>
                            <p>Los Principales Software de simulación por su versatilidad son : Processmodel y Promodel.</p>
                            <li><strong><strong>Software para la Toma de Decisiones</strong></strong>
                            </li>
                            <p>La mayoría de consultoría se elaboran un sistema aplicativo sea en .NET u otra herramienta y apoyado por el modelo de optimización o de simulación formulado se deja instalado en la oficina del Cliente, de tal manera que le
                                sirva para la toma de decisiones cotidianas o estratégicas. Constituyéndose en la herramienta principal para la gestión empresarial.</p>
                            <p>Nuestros Consultores pertenecen a la Sociedad de IO www.informs.org donde podrá hallar información valiosa sobre Investigación de Operaciones.</p>

                        </ul>
                        <h3 class="titulo">APLICACIONES DE LA INVESTIGACION DE OPERACIONES EN MINERIA</h3>
                        <ul>
                            <li>Geoestadística Aplicada a la Estimación de Yacimientos Mineros, el cual permite estimar y determinar procesos prácticos para la clasificación de recursos y reservas minerales.</li>
                            <img src="./assets/images/IO1.png" alt="..." class="img-thumbnail">
                            <li>Simulación para determinar el número óptimo de camiones que maximizarán la producción de una mina.</li>
                            <img src="./assets/images/IO2.png" alt="..." class="img-thumbnail">
                            <li>Modelo matemático para determinar el tiempo y orden de extracción de un mineral (Programa de Producción) con el objetivo de maximizar el valor neto presente de la operación.</li>
                            <img src="./assets/images/IO3.png" alt="..." class="img-thumbnail">
                            <li>Planificación minera para identificar cuál es el volumen y ubicación de material que maximice la operación de extracción dando forma a una mina a cielo abierto.</li>
                            <img src="./assets/images/IO4.png" alt="..." class="img-thumbnail">
                            <li>Maximizar beneficios en la planificacion de operaciones de periodos de extracción.</li>
                            <img src="./assets/images/IO5.png" alt="..." class="img-thumbnail">
                            <li>Modelo matemático para la simulación de la carga y el transporte en una mina cielo abierto.</li>
                            <img src="./assets/images/IO6.png" alt="..." class="img-thumbnail">
                            <li>Modelos matemático para determinar secuencias óptimas de extracción.</li>
                            <img src="./assets/images/IO7.png" alt="..." class="img-thumbnail">
                            <li>Simulación numerica para incrementar la productividad de las operaciones unitarias de carga en tajo minero. </li>
                            <img src="./assets/images/IO8.png" alt="..." class="img-thumbnail">
                            <li>Modelar la continuidad espacial de fenómenos naturales, principalmente a través del semivariograma experimental y sus respectivos ajustes teóricos aplicados en recursos mineros.
                            </li>
                            <img src="./assets/images/IO9.png" alt="..." class="img-thumbnail">
                            <li>Comprender y aplicar modelos de estimación geoestadísticos para la elaboración de inventarios de bloques de mineral.</li>
                            <img src="./assets/images/IO10.png" alt="..." class="img-thumbnail">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>